/*
	Pocketin - Common Css
	Version: 1.0
	Author: Sarangh Somaraj
	Dated: Sun, 14 Feb 2016 10:45 AM GMT
*/
body {
	font-weight: 400;
	letter-spacing: .5px;
	/*font-family: 'Roboto', 'Montserrat', sans-serif !important;	background-color: #fafafa*/
	font-family: 'Open Sans', sans-serif!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	line-height: 1 !important;
	margin: 0;
	font-weight: 400;
}

ul,
li,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

label {
	margin: 0;
	font-weight: 500;
}

div img:not(.thumb_box img) {
	width: 100%;
	height: auto;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

input {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-radius: 0 !important;
}

a,
a:hover {
	text-decoration: none;
}

.huge {
	font-size: 40px;
}

.no-pad {
	padding: 0;
}

.less-pad {
	padding-left: 5px;
	padding-right: 5px;
}

.relative {
	position: relative;
}

.btn {
	outline: 0;
	cursor: pointer;
}

.btn:active:focus,
.btn:visited,
.btn:focus,
.btn:hover,
.btn:active {
	outline: 0;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

.btn-white {
	background: #fff;
	color: #5B5C59;
	padding: 4px 12px;
	font-size: 12px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.btn-address-edit:visited,
.btn-address-edit,
.btn-edit:visited,
.btn-edit {
	background: #fff;
	font-size: 12px;
	color: #47C9AF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #47C9AF;
	outline: 0;
}

.btn-address-edit:active:focus,
.btn-address-edit:focus,
.btn-address-edit:hover,
.btn-address-edit:active,
.btn-edit:active:focus,
.btn-edit:focus,
.btn-edit:hover,
.btn-edit:active {
	background: #47C9AF;
	border: 1px solid #47C9AF;
	color: #fff;
	outline: 0;
}

.btn-remove:active:focus,
.btn-remove:visited,
.btn-remove {
	background: #fff;
	font-size: 12px;
	color: #000 !important;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #000;
	outline: 0;
}

.btn-remove:active:hover,
.btn-remove:active:focus,
.btn-remove:focus,
.btn-remove:hover,
.btn-remove:active {
	background: #000 !important;
	border: 1px solid #000;
	color: #fff !important;
	outline: 0;
}

.btn-save {
	background: #47C9AF;
	font-size: 12px;
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 0;
	outline: 0;
}

.btn-save:active:focus,
.btn-save:visited,
.btn-save:focus,
.btn-save:hover,
.btn-save:active {
	color: #fff;
	outline: 0;
}

.form-group .btn-submit,
.btn-submit:visited {
	border: 1px solid #47C9AF;
	background: #fff;
	color: #47C9AF;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.inline {
	display: inline-block;
}

.badge {
	font-size: 12px;
	font-weight: 300;
	height: 20px;
	padding: 4px 12px;
}

.form-group input,
.form-group textarea {
	border: 1px solid #E6E6E6;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.nav>li>a:focus,
.nav>li>a:hover {
	background: transparent;
	outline: 0
}