/*
	Pocketin - Custom Css
	Version: 1.0
	Author: Sarangh Somaraj 
	Dated: Sun, 14 Feb 2016 10:45 AM GMT
*/
/* Common Styles across the platform */

@import 'common.css';
@import 'Pocketin-icon-fonts.min.css';
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.delivery {
    border: 1px solid #dedede;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}
.delivery > p:first-child {
    color: black;
    padding-bottom: 4px;
}
.discount {
    display: inline-block;
    margin: 0 0 0 5px;
    border: 1px solid #9ddc9a;
    color: #6fba54;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    text-align: center;
    padding: 8px;
    font-size: 12px;
    line-height: 12px;
}
/* 5 in a row grid  */

.custom-grid {
    padding-left: 10px;
    padding-right: 10px;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.logo_p_letter {
    color: #47C9AF;
    font-size: 35px;
    text-align: center;
    margin-right: -3px;
}
.logo_p_letter_div {
    display: inline;
}
.loader {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.catloader {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}
.catloader img {
    max-width: 60px;
    vertical-align: middle;
    display: block;
    margin: 28% auto;
}
.loader img {
    max-width: 60px;
    vertical-align: middle;
    display: block;
    margin: 28% auto;
}
body {
    font-size: 13px;
    line-height: 1 !important;
    background: #f5f5f5;
}

.offers-widget{
    position: fixed;
    z-index: 33;
    bottom: 0px;
    background: #47C9AF;
    width: 320px;
    right: 2%;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    padding: 15px 15px 20px 15px;
    border-bottom: 4px solid #27927d;
}

.offers-widget p{
    color: #fff;
    font-size: 14px;
    line-height: 24px!important;
    margin: 10px 0 5px;
}
.offers-widget p span{
    font-size: 16px;
    font-weight: 600;
}

.offers-widget button {
    background: #000;
    width: 25px;
    height: 25px;
    padding: 0;
    border-radius: 12px;
    position: absolute;
    right: 10px;
    font-size: 18px;
    line-height: 18px;
    vertical-align: top;
    font-weight: 100;
    top: -10px;
    color: #fff!important;
    opacity: 1;
}

.offers-widget button span{
    vertical-align: top;
    margin-top: -4px;
    display: block;
}



header {
    /*background: #F7F7F7;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 3;*/
}
.header-menu{
    border-bottom: 1px solid #DEDEDE;
}

.category-list-subhead{
    padding: 10px 10px;
    /*width: 90%;*/
    margin: 0 auto;
    background: #DEDEDE;
}
.category-list-subhead label{
    color: #1a1a1a;
    font-size: 12px;
    font-weight: 500;
}
.category-list-subhead span{
    font-size: 10px;
    font-weight: 100;
}
.category-lists li{
    display: inline-block;
    position: relative;
    vertical-align: top;
    border-right: 1px solid #a2a2a2;
    padding-right: 10px;
    margin-left: 10px;
}

.category-lists li.disabled{
    cursor: disabled;
}

.category-lists li:last-child{
    border-right: 1px solid transparent;
}

.category-lists li a{
    font-size: 12px;
    padding: 0;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 400;
}
.category-lists li a:hover {
    text-decoration: none;
    color: #1a1a1a;
}

.category-lists li a:focus {
    text-decoration: none;
    color: #1a1a1a;
}

.sub-head-tag{
    position: absolute;
    right: 10px;
    font-size: 10px;
    top: -7px;
}
.sub-head-tag span{
    width: 5px;
    height: 5px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: top;
    border-radius: 7px;
}
.tag-new span{
    background: green;
}
.tag-soon span{
    background: #d61b5e;
}
.tag-new{
    color: green;
}
.tag-soon{
    color: #d61b5e;
    top: -9px !important;
}
a,
p,
ul,
li {
    color: #666666;
    line-height: 1 !important;
}
.top-bar {
    border-bottom: 1px solid #E9E9E9;
    text-align: center;
}
.top-bar.h {} .edit-location {
    padding: 10px 0;
}
.edit-location .dropdown-menu {
    /*position: absolute!important;*/
    
    background-color: #fff !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    left: auto;
    top: 30px;
    margin: 0;
    padding: 0;
}
.edit-location .dropdown-menu:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 15px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
}
.main-container {
    margin-top: 10px;
}
.navbar-text {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-brand {
    font-size: 18px;
    color: #000;
    height: 54px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 20px!important;
    padding: 12px 15px;
}

.navbar-brand img{
    max-height: 100%;
    width: auto;
}

.navbar-brand strong {} .navbar-brand span {
    color: #009688;
    font-size: 10px;
    position: absolute;
    top: 0px;
    right: 15px;
    font-weight: 500;
}
.navbar-brand:hover {
    color: #000;
}
.top-bar .navbar-nav>li>a {
    color: #666666;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav-main.nav>li>a:focus,
.nav>li>a:hover {
    background: transparent;
}
.nav-main.navbar-nav>li {
    margin: 5px;
}
.nav-main.navbar-nav>li > .dropdown > a {
    position: relative;
    padding: 15px 10px;
}
.dropdown-menu>li>a {
    font-size: 12px;
    padding: 10px;
}
.navbar-right .dropdown-menu {
    position: absolute !important;
    background-color: #fff !important;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0 solid transparent !important;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    right: -15px;
    left: auto;
    top: 60px;
    margin: 0;
    padding: 0;
}

.input-group {
    padding: 10px;
}
.input-group input.form-control {
    border-right: 0 !important;
}

.search-form .input-group{
	padding: 5px 0;
}
.search-panel .btn-category {
    background: #F8F8F8;
    border: 1px solid #ccc;
    border-right: 0;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
}
.search-panel .btn-category:hover,
.search-panel .btn-category:active,
.search-panel .btn-category:focus,
.search-panel .btn-category:visited {
    background: #F8F8F8;
    outline: 0;
}
.bt-search {
    background: #fff;
    border: 1px solid #ccc;
    border-left: 0;
    box-shadow: none;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
    padding-top: 8px;
    padding-bottom: 8px;
}
.circle {
    background: #8594c8;
    -webkit-border-radius: 24px;
    -moz-border-radius:24px;
    border-radius: 24px;
    font-size: 10px;
    height: 20px;
    width: 20px;
    display: block;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    color: #fff;
    position: absolute;
}
#complaint ul.nav {
    padding-top: 10px;
    color: #47C9AF;
}
#complaint ul li.active > a {
    color: #47C9AF!important;
}
.inactivecircle {
    background: lightgrey;
}
.notification .circle {
    top: 2px;
    right: 2px;
}
.notification .dropdown-menu:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 22px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #ccc transparent;
}
ul.notification-list {
    width: 280px;
    max-height: 340px;
    overflow-x: hidden;
    overflow-y: auto;
}
ul.notification-list li a {
    white-space: initial;
    padding: 15px;
    border-bottom: 1px solid #DEDEDE;
    line-height: 18px !important;
}
ul.notification-list li p {
    font-size: 12px;
    font-weight: 500;
    color: #838383;
    line-height: 16px !important;
}
ul.notification-list li p b {
    color: #000;
    font-weight: 500;
}
.notification-icon {
    font-size: 22px;
    border: 1px solid #A6A6A6;
    border-radius: 33px;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 10px;
    color: #858585;
}
.notification-timestamp {
    font-size: 10px;
}
.login .dropdown-menu:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 30px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
}
.login a {
    text-transform: capitalize;
     color: #04238e!important;
     text-decoration-color: underline;
}
.cart .nav-main.navbar-nav>li a {
    border-radius: 24px;
}
.cart a .circle {
    top: 4px;
    left: 28px;
}
.dropdown a {
    cursor: pointer;
    display: block;
}
.login-from {
    width: 240px;
    padding: 15px;
    padding-bottom: 0;
    font-size: 12px;
}
.login-from input {
    font-size: 12px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
#signupform .modal-dialog {
    width: 380px;
}
#signupform .form-control,
.login-from .form-control {
    background: transparent !important;
    border-color: transparent !important;
    border-bottom: 1px solid #B1B1B1 !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.login-from > label {
    font-size: 14px;
    color: #000;
}
.newuserdiv a {
    box-shadow: none !important;
    color: #d61b5e !important;
}
.login-from > label,
.login-from .login-help,
.login-from .form-control {
    margin-bottom: 15px;
}
.login-help a {
    padding: 10px 0;
}
.btn-login {
    color: #fff;
    background: #47C9AF;
}
.btn-login:hover,
.btn-login:active,
.btn-login:focus,
.btn-login:visited {
    color: #fff;
    background: #47C9AF;
}
.password {
    position: relative;
}
.password input[type="password"] {
    padding-right: 30px;
}
.password .glyphicon,
#password2 .glyphicon {
    display: none;
    right: 24px;
    position: absolute;
    top: 12px;
    cursor: pointer;
}
.btn-sign-up {
    font-size: 12px !important;
    padding: 10px 0 15px;
}
.btn-sign-up-form {
    color: #fff;
    background: #d61b5e ;
}
.btn-sign-up-form:hover,
.btn-sign-up-form:active,
.btn-sign-up-form:focus,
.btn-sign-up-form:visited {
    color: #fff;
    background: #d61b5e ;
}
.btn-cancel {
    color: grey;
    background: transparent;
}
.btn-cancel:hover,
.btn-cancel:active,
.btn-cancel:focus,
.btn-cancel:visited {
    color: grey;
    background: transparent;
}
#signupform .modal-content {
    overflow: hidden;
}
#signupform .modal-header {
    border: 0;
}
#signupform .modal-header p {
    /*margin-top: 10px;*/
    
    line-height: 18px !important;
}
#signupform .modal-body .form-group:last-child {
    margin-bottom: 0;
}
#signupform .modal-footer {
    border: 0;
}
#signupform input {
    font-size: 12px !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
.verification-success span {
    font-size: 34px;
    font-weight: 100;
    margin: 15px 0;
    color: green;
}
/*.remember_me label{
margin: 15px 0;
}
*/
/*.login-from input{
width: 100%;
}*/

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    cursor: pointer;
    text-decoration: none;
    background: transparent;
}
.user-log-name {
    color: #47C9AF!important;
}
.user-log-name span {
    margin-left: 2.5px;
}
.custom-modal {
    margin-top: 13%;
}
.custom-modal .modal-title {
    color: #47C9AF;
    font-size: 20px;
    font-weight: 300;
}
.custom-modal .modal-content {
    border-radius: 0;
}
.modal-body .location-list {
    padding: 15px;
}
.modal-body .location-list li {
    display: inline-block;
    margin: 0 7.5px;
}
.modal-body p {
    margin: 15px 0;
}
.btn-location:visited,
.btn-location {
    color: #fff;
    border: 1px solid #47C9AF;
    background: #47C9AF;
}
.btn-location:active:focus,
.btn-location:focus,
.btn-location:hover,
.btn-location:active {
    color: #47C9AF;
    border: 1px solid #47C9AF;
    background: #fff;
}
.banner {
    height: 512px;
    max-height: 512px;
    overflow: hidden;
    background: url(../images/banner-image.jpg) bottom;
    background-size: cover;
    position: relative;
}
.banner ul {
    margin: 0;
    padding: 0;
}
.banner ul li img {
    width: 100%;
}
.banner-text {
    position: absolute;
    padding: 30px 120px;
    text-align: center;
    left: 0;
    bottom: 0px;
    right: 0;
    color: #fff;
}
.banner-text h2 {
    font-size: 36px;
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.37);
}
.banner-text span {
    color: #47C9AF;
}
.banner-text p {
    color: #fff;
}
.banner .services {
    margin: 30px 0 0;
    padding-bottom: 15px;
}
.banner .services span {
    color: #fff;
}
.services span,
.services label {
    display: block;
    margin: 10px 0;
}
.services p {
    line-height: 18px !important;
    font-weight: 300;
}
.services label {
    color: #47C9AF;
}
.hor-gird {
    margin: 30px 0;
}
.sub-header h3:before {} .sub-header {
    padding: 10px;
    background-color: transparent;
    width: 100%;
    font-weight: 300;
    margin: 30px 0;
}
.sub-header h4 {
    color: #1a1a1a;
}
.sub-header .fancy span {
    display: inline-block;
    position: relative;
}
.sub-header .fancy span:after,
.sub-header .fancy span:before {
	display: none;
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #6B6B6B;
    top: 8px;
    width: 100%;
}
.sub-header .fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.sub-header .fancy span:after {
    left: 100%;
    margin-left: 15px;
}
.left-grid > div:last-child {
    margin-top: 10px;
}
.left-grid .category-col img {
    max-height: 290px;
    width: auto;
    margin: 0 auto;
    display: block;
}
/*.left-grid > div:last-child img{
max-height: 292px;
width: auto;
margin: 0 auto;
display: block;
}*/

.overlay {
    position: absolute;
    background: #000;
    opacity: .3;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.category-detail {
    padding: 15px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.category-detail h4 {
    font-weight: 400;
    text-transform: uppercase;
}
.category-detail p {
    color: #fff;
    margin: 15px 0;
    line-height: 18px !important;
}
.category-list-home .right-grid img {
    max-height: 590px;
    width: auto;
    margin: 0 auto;
    display: block;
}
.poduct-grid-detail {
    /*margin: 5px 0; */
}
.poduct-grid-detail .product-price {
    padding: 6px 0;
}

.prodoffer {
    font-size: 12px;
    font-weight: 200;
    color: grey;
}
.poduct-grid-detail .quality-index {
    font-size: 14px;
    padding: 2px 4px;
}
.item-col {
    position: relative;
}
.item-col .item-col-wrap {
    position: relative;
    border: 1px solid #DEDEDE;
    margin: 0 15px 15px 15px;
    /*background: #fff;*/
    padding: 0 0 0 0;
}
.offers-tag{
    position: absolute;
    top: 5px;
    left: 5px;
}
.offers-tag label {
    color: #f1c40f;
}
.offers-tag label span {
    margin-right: 5px;
    color: #f1c40f;
}
.item-col:hover .item-col-wrap {
    border: 1px solid #DEDEDE;
    /*padding: 5px 15px;*/
}
.item-col:hover .poduct-grid-detail .market-price {
    /*background: #DEDEDE;*/
}
.poduct-grid-thumb {
    width: 100%;
    height: 218px;
    overflow: hidden;
    border-bottom: 1px solid #EFEFEF;
}
.poduct-grid-thumb img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.item-col .item-col-wrap a {
    display: block;
    overflow: hidden;
}
.item-col:hover .product-name {
    color: #1a1a1a;
}
.poduct-grid-detail .item-text-info {
    overflow: hidden;
    min-height: 74px;
    max-height: 74px;
}
.poduct-grid-detail .product-name {
    font-size: 13px;
    line-height: 16px!important;
    font-weight: 400;
    color: #000;
    margin-top: 10px;
}
.item-col .btn-add-to-wishlist:visited,
.item-col .btn-add-to-wishlist {
    display: none;
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 20px;
    outline: none !important;
    box-shadow: none !important;
    z-index: 1;
}
.btn-add-to-wishlist.block.active {
    display: block;
}
.item-col .btn-add-to-wishlist:active,
.item-col .btn-add-to-wishlist:hover,
.item-col .btn-add-to-wishlist:focus {
    outline: none;
}
.item-col:hover .btn-add-to-wishlist {
    display: block;
}
.poduct-grid-detail .row {
    margin: 10px -15px;
}
.product-price {
    color: #20a797; font-size: 18px;font-weight:400
}
.product-price label {
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
    color: #8A8A8A;
}
.product-price span {
    font-size: 14px;
    margin-right: 5px;
}
.quality-index {
    font-size: 14px;
    font-weight: 300;
    background: #fff;
    color: #fff;
    padding: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
}
.quality-index.poor {
    border: 1px solid #d54d4d;
    background: #d54d4d;
    color: #fff;
}
.quality-index span {
    font-weight: 400;
    font-size: 14px;
    vertical-align: bottom;
}
.quality-index:hover + .quality-index-breakdown {
    display: block;
}
.quality-index-breakdown {
    display: none;
    position: absolute;
    text-align: left;
    background: #fff;
    font-size: 12px;
    border: 1px solid #DEDEDE;
    padding: 15px;
    z-index: 2;
    width: 184px;
    margin-top: 15px;
}
.quality-index-breakdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 15px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
}
.quality-index-breakdown li {
    display: block;
    margin: 5px 0;
}
.poduct-grid-detail .market-price {
    padding: 15px;
    margin: 0 -15px;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    border-top: 1px solid #EFEFEF;
}
.poduct-grid-detail .market-price span {
    font-size: 14px;
    margin-right: 5px;
}
.poduct-grid-detail .market-price small {
    margin-left: 5px;
}
.btn-view-category {
    background: #47C9AF;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    border: 1px solid #47C9AF;
    color: #fff;
    padding: 5px 15px;
    margin: 15px 0;
}
.btn-view-category:hover,
.btn-view-category:active,
.btn-view-category:focus,
.btn-view-category:visited {
    background: #47C9AF;
    border: 1px solid #2BAA91;
    color: #fff;
}
.btn-add-to-wishlist {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid transparent;
    color: #959595;
    /*  width: 34px;
	    height: 34px;*/
    
    box-shadow: none;
    padding: 5px;
    box-shadow: none !important;
    outline: none !important;
    text-align: center;
}
.btn-add-to-wishlist:hover,
.btn-add-to-wishlist:active,
.btn-add-to-wishlist:focus,
.btn-add-to-wishlist:visited {
    background: transparent;
    box-shadow: none !important;
    border: 1px solid transparent;
    color: #959595;
    outline: !important;
    box-shadow: none !important;
}
.btn-add-to-wishlist span {
    color: #959595;
    box-shadow: none !important;
    outline: !important;
}
.btn-add-to-wishlist.active span
/*.btn-add-to-wishlist:hover span,*/

{
    background: transparent;
    outline: none !important;
    box-shadow: none !important;
    color: #D65A5A !important;
}
.btn-add-to-wishlist.active {
    outline: none !important;
    box-shadow: none !important;
    /*background: #fff;*/
    /*border: 1px solid #959595;*/
}
.page-content-area {
    padding-bottom: 30px;
}
/* Breadcrumb */

.products-breadcrumb {
    margin: 15px 0;
}
.products-breadcrumb .breadcrumb {
    background: transparent;
    margin: 0 !important;
    padding: 0;
}
.products-breadcrumb .breadcrumb li{
	margin: 5px 0;
}

.breadcrumb .active a {
    font-weight: bold;
    color: #000;
}
/* Product page */

.image-thumb-list {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    position: relative;
}
.image-thumb-list span.btn-left {
    position: absolute;
    left: 0;
    top: 30px;
}
.image-thumb-list span.btn-right {
    position: absolute;
    right: 0;
    top: 30px;
    background: #fff;
    opacity: .5;
}
.image-thumb-list span.btn-right:hover {
    opacity: 1;
}
.image-thumb-list span.btn-right:active {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.image-thumb-list span span {
    -ms-transform: rotate(90deg);
    /* IE 9 */
    
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */
    
    transform: rotate(90deg);
    font-size: 18px;
    font-weight: 100;
    display: block;
}
.image-thumb-list ul {
    display: block;
    padding: 0;
    text-align: center;
}
.image-thumb-list li {
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: inline-block;
    margin: 5px 2.5px;
    border: 1px solid #D5D5D5;
    overflow: hidden;
}
.image-thumb-list li:hover {
    border: 1px solid #B3B3B3;
}
.image-thumb-list li.active {
    border: 1px solid #47C9AF;
}
.image-thumb-list li img {
    width: auto;
    height: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.image-thumb-list li:first-child {
    margin-left: 0;
}
.image-thumb-list li:last-child {
    margin-right: 0;
}
.product-detail-grid {
    padding: 0 30px;
}
.product-detail-grid .product-name {
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0 5px 0;
}
.product-detail-grid .quality-index {
    margin-bottom: 5px;
}
.product-description {
    margin: 0;
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    color: #838383;
}
.product-detail-grid .product-features-list {
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0 20px;
}
.product-detail-grid .product-features-list li {
    list-style: circle;
    font-size: 14px;
    color: #000;
    margin: 10px 0;
}
.product-detail-grid .colors-available {
    margin-top: 15px;
}
.product-detail-grid .colors-available label {
    margin-right: 15px;
}
ul.colors-list li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
span.item-color {
    width: 15px;
    height: 15px;
    display: block;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    border: 1px solid #DEDEDE;
}
.offers {
    width: 100%;
    padding: 7.5px 15px;
    border: 1px dashed #f1c40f;
}
.offers p {
    font-size: 12px;
    line-height: 16px!Important;
}
.offers p a {
    clear: both;
    margin-top: 5px;
    color: #1a1a1a;
    /*text-decoration: underline;*/
    
    display: block;
}
.offers label {
    margin-bottom: 5px;
    font-weight: 600;
}
.offers label span {
    margin-right: 5px;
    color: #f1c40f;
}
.product-pricings {
    margin-top: 15px;
}
.product-pricings li {
    display: inline-block;
}
.product-pricings .product-price {
    font-size: 18px;
    font-weight: 600;
}
.product-pricings .market-price {
    text-align: right;
    padding: 10px 0;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}
.product-pricings .user-savings {
    text-align: right;
    padding: 10px 0;
    font-size: 18px;
    color: #B1B1B1;
}
.product-pricings .user-savings small {
    display: block;
    font-size: 12px;
}
.product-action-btns {
    margin-top: 15px;
}
.product-action-btns li .btn-add-to-wishlist span {
    font-size: 24px;
}
.product-action-btns li {
    display: inline-block;
}
.product-action-btns li .btn-buy-now {
    margin: 0 15px;
}
.product-action-btns .btn-md {
    padding: 10px 15px;
}
.btn-add-to-cart {
    background: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #000;
    color: #000;
}
.btn-add-to-cart:hover,
.btn-add-to-cart:active,
.btn-add-to-cart:focus,
.btn-add-to-cart:visited {
    background: #f0f0f0;
    border: 1px solid #000;
    color: #000;
}
.btn-buy-now,
.btn-buy-now:visited {
    background: #71BA51;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #449920;
    color: #fff;
}
.btn-buy-now:hover,
.btn-buy-now:active,
.btn-buy-now:focus {
    background: #62B53E;
    border: 1px solid #62B53E;
    color: #fff;
}
.single-product {
    padding: 15px 0;
}
.grid-left .stock-availability {
    position: absolute;
    top: 15px;
    left: 5px;
}
.grid-left .big-image {
    /* This is the class of the div which contains big image */
    
    background: #fff;
    width: 100%;
    height: auto;
    position: relative;
    border: 1px solid #EFEFEF;
    display: block;
}
.grid-left .big-imagediv {
    /* This is the image div */
    
    margin: 0 auto;
}

.grid-left .big-image img {
    display: block;
    max-width: 450px;
    max-height: 450px;
    width: 100%;
    height: auto;
    margin: 0 auto;

}
.stock-availability.available {
    background: #71BA51;
}
.stock-availability.unavailable {
    background: #e75958;
    position: absolute;
}
.stock-availability.catview-unavailable {
    background: #e75958;
    position: absolute;
    top: 0;
    left: 0;
}
.stock-availability.catview-available {
    background: #71BA51 !important;
    position: absolute;
    top: 0;
    left: 0;
}
.stock-availability.stock-available {
    background: #71BA51 !important;
}
.quality-index-block {
	width: 100%;
    border: 0;
    margin: 30px 0;
    border: transparent;
    background: transparent;
    box-shadow: none;
}

.quality-index-block .panel-body{
    padding: 0 0 15px 0;
}

.technical-brief,
.product-condition{
    margin-top: 15px;
}

.product-brief {
    margin: 15px 0;
}
.technical-brief ul li{
    padding: 5px 0;
    line-height: 18px!important;
}
.product-brief p {
    line-height: 18px !important;
}

.product-condition ul{
    padding: 0 15px;
}

.product-condition ul li{
    padding: 5px 0;
    list-style: circle;
}
.product-technical-details .panel-body {
    padding: 15px 0;
}
.product-technical-details .panel-body h4 {
    margin-bottom: 5px;
}
.product-technical-details span.icon {
    display: block;
    color: #47C9AF;
}
.product-technical-details label {
    margin: 15px 0;
}

.product-advanced-details .index-label {} .product-advanced-details {
    margin-top: 45px;
}
.product-advanced-details > ul {
    margin: 0 0 30px;
    /*padding-bottom: 10px;*/
    
    list-style: none;
    border-bottom: 1px solid #cfdae3;
}
.product-advanced-details ul li {
    border: 0;
}
.product-advanced-details ul li a {
    margin-right: 10px;
    border: 0 !important;
    background: transparent !important;
    font-size: 14px;
    font-weight: 400;
    color: #949da5;
}
.product-advanced-details ul li.active {
    border-bottom: 2px solid #47C9AF;
}
.item-feature {
    border-bottom: 1px dashed #cfdae3;
    margin: 15px 0 30px;
}
.item-feature:last-child {
    border-bottom: 1px dashed transparent;
}
.item-feature h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
}
.item-feature ul {
    margin-bottom: 15px;
    padding: 0 15px;
}
.item-feature ul li {
    list-style-type: circle;
    color: #A0A0A0;
    padding: 5px 0;
}
.item-feature ul li label {
    color: #1a1a1a;
}
/*. Category page */

.filters .panel-default,
.filters .panel-default>.panel-heading {
    background: #fff;
    border: #fff;
    box-shadow: none !important;
}
.filters .panel-default>.panel-heading {
    border-bottom: 1px solid #DEDEDE;
    padding: 0;
}
.filters .panel-group .panel-heading+.panel-collapse>.list-group,
.filters .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: #fff;
}
.filters .checkbox label {
    display: block;
    padding: 0;
}
.filters .checkbox input[type=checkbox] {
    position: absolute;
    right: 0;
}
.filters .panel-title {
    font-size: 14px;
}
.filters .panel-title a {
    display: block;
    padding: 15px 0;
}
.product-results-container .product-results {
    min-height: 230px;
}
.product-results-header {
    border-bottom: 1px solid #DEDEDE;
}
.product-results-header .btn-sort {
    background: #fff;
    font-size: 12px;
    color: #47C9AF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #47C9AF;
    outline: 0;
}
.product-results-header .btn-sort:active:focus,
.product-results-header .btn-sort:focus,
.product-results-header .btn-sort:hover,
.product-results-header .btn-sort:active {
    width: 160px;
    background: #47C9AF;
    border: 1px solid #47C9AF;
    color: #fff;
    outline: 0;
}
.product-results-header .sort-dropdown .dropdown-menu {
    margin-top: 15px;
}
.product-results-header .sort-dropdown .dropdown-menu:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 30px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #ccc transparent;
}
.product-results-header .btn-sort {
    width: 160px;
}
.results-info {
    padding: 15px;
}
.sort-dropdown .btn {
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    padding: 5px 10px;
}
.products-pagination {
    width: 600px;
    margin: 0 auto;
    background: #fff;
}
.products-pagination .pagination {
    display: block;
    overflow: hidden;
    border: 1px solid #DEDEDE;
}
.products-pagination .pagination>li:first-child a {
    border-right: 1px solid #DEDEDE;
}
.products-pagination .pagination>li:last-child a {
    border-left: 1px solid #DEDEDE;
}
.products-pagination .pagination>li {
    display: inline-block;
    vertical-align: bottom;
}
.products-pagination .pagination>li>a,
.products-pagination .pagination>li>span {
    border: #fff;
}
.products-pagination .pagination>li>a,
.products-pagination .pagination>li>span {
    padding: 15px;
    color: #666666;
}
.products-pagination .pagination>li>a:hover {
    color: #47C9AF;
}
.products-pagination .pagination>li>a.active {
    color: #47C9AF;
}
/* Footer */

.footer {
    background: #282828;
}
.footer ul.nav li {
    display: inline-block;
}
.footer ul.nav li a {
    color: #fff;
    padding: 15px 7.5px;
    font-size: 12px;
}
.footer ul.nav li:hover a {
    color: #47C9AF;
}
.footer ul.nav>li>a:focus,
.footer ul.nav>li>a:hover {
    background: transparent;
    outline: 0
}
.footer .services span {
    color: #fff;
}
.footer .services p {
    color: #B9B9B9;
}
.copyright {
    color: #fff;
    padding: 0;
    font-size: 12px;
}
/* Social */

div.footer .social li {
    display: inline-block;
}
div.footer .social img {
    height: 20px;
    width: auto;
}
/* Cart */

.empty-cart {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    color: #47C9AF;
}
.shopping-cart {
    padding: 15px;
    /*border-bottom: 1px solid #979797;*/
}
.table-head div {
    font-weight: 400;
    padding: 15px 0;
    border-bottom: 1px solid #e3e3e3;
}
.cart-item {
    clear: both;
    padding: 0;
    margin-top: 15px;
    background: #fff;
    border: 1px solid #e3e3e3;
}
.cart-item > div {} .total {
    text-align: center;
    line-height: 30px;
}
.cart-thumb {
    padding: 15px 0 15px 15px;
    display: inline-block;
}
.cart-thumb img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.cart-thumb .stock-availability {
    position: absolute;
    bottom: 30px;
    top: auto;
    left: 64px;
}
.cart-item-details {
    padding: 15px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    height: 100%;
}
.cart-item-details h1.product-name {
    font-size: 15px;
    font-weight: 400;
    margin: 15px 0 0 0;
}
.cart-item-details h1.product-name .quality-index {
    font-size: 10px;
    padding: 2px 5px;
}
.cart-item-details h1.product-name .quality-index span {
    font-size: 10px;
}
.cart-item-details .colors-available {
    margin: 10px 0;
}
.cart-item-details .colors-available label {
    margin-right: 15px;
}
.cart-item-details .stock-availability {
    /*position: absolute;*/
    
    bottom: 0;
}
.cart-item-details .product-actions .product-price{
    margin-top: 15px;
}
.quantity-select,
.total {
    padding-top: 25px;
    text-align: center;
    display: block;
}
.select {
    position: relative;
    display: inline-block;
    color: #1e1e1e;
    width: 60px;
    border: 1px solid #9b9e9f;
}
.select select {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: .5rem 1.95rem .5rem 1rem;
    line-height: 1.5;
    color: #1e1e1e;
    background-color: #fff;
    border: 0;
    border-radius: .25rem;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -0.8rem;
    width: 0;
    height: 0;
    border-bottom: .3rem solid #1e1e1e;
    border-top: .3rem solid transparent;
    border-left: .3rem solid transparent;
    border-right: .3rem solid transparent;
}
.select:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 1.0rem;
    margin-top: -0.8rem;
    width: 0;
    height: 0;
    border-bottom: .3rem solid #1e1e1e;
    border-top: .3rem solid transparent;
    border-left: .3rem solid transparent;
    border-right: .3rem solid transparent;
}
.select:after {
    position: absolute;
    top: 50%;
    right: 1.0rem;
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    margin-top: .2rem;
    pointer-events: none;
    border-top: .3rem solid #1e1e1e;
    border-right: .3rem solid transparent;
    border-bottom: .3rem solid transparent;
    border-left: .3rem solid transparent;
}
.btn-proceed-to-checkout {
    width: 100%;
    background: #53BDA8;
    color: #fff;
    display: block;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #329581;
    font-size: 1.2em;
    font-weight: 300;
    height: 45px;
    line-height: 32px !important;
}
.btn-proceed-to-checkout:hover,
.btn-proceed-to-checkout:active,
.btn-proceed-to-checkout:focus,
.btn-proceed-to-checkout:visited {
    background: #329581;
    border: 1px solid #329581;
    color: #fff;
}
.delivery-text {
    color: #54A442;
    /*margin: 15px 0;*/
}
.delivery-text p {
    margin-top: 5px;
}
.summary .product-price span {
    font-size: 18px;
}
.summary .product-price {
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;
}
.product-actions .btn-add-to-wishlist {
    width: 25px;
    height: 25px;
}
.product-actions .remove-product {
    cursor: pointer;
    text-decoration: none;
    border: 1px solid #DFDFDF;
    color: #979797;
    height: 25px;
    font-size: 12px;
    padding: 0 5px;
    line-height: 26px!Important;
}
.product-actions .remove-product:hover {
    border: 1px solid #000;
    background: #fff;
    color: #000;
}
.product-actions .remove-product span {
    font-size: 14px;
    vertical-align: initial;
}
.summary-grid > label {
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #e3e3e3;
}
.summary {
    background: #F7F7F7;
    padding: 15px;
    margin-top: 15px;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    color: #9b9e9f;
}
.theme-logo-color {
    background-color: #d61b5e !important;
    border: 1px solid #d61b5e !important;
}
/* Payment Method*/

.payment-choice{
    margin-bottom: 15px;
    display: block;
}

.payment-choice h5{
    margin-top: 15px;
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #e3e3e3;
}

.payment-choice .radio{
    margin-top: 15px;
    padding: 10px 10px;
}

.payment-choice .radio:last-child{
    margin-top: 15px;
    padding: 10px 10px;
    float: right;
}
table td[class*=col-],
table th[class*=col-] {
    /*float: left;*/
}
/* Collections */

.collections > div {
    margin-bottom: 10px;
    max-height: 288px;
}
/* Checkout */

.checkout {
    padding: 15px;
}
.form-group label {
    font-size: 12px;
    padding: 10px 0;
    font-weight: 500;
}
.checkout .address {
    margin-top: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e3e3e3;
}
.new-address-form > div {
    margin-top: 15px;
    padding: 7.5px 7.5px 30px 7.5px;
}
.new-address-form label.title {
    padding: 30px 0 15px 0;
    font-size: 24px;
}
.new-address-form label.title p {
    margin: 10px 0;
}
.new-address-form > div form {
    border-top: 1px solid #e3e3e3;
    padding-top: 30px;
}
.edit-address .btn-save-address,
.new-address-form .btn-save-address {
    width: auto;
    display: inline-block;
}
.edit-address .form-group input,
.edit-address .form-group textarea,
.new-address-form .form-group input,
.new-address-form .form-group textarea {
    margin: 5px 0;
    padding: 0;
    background: transparent !important;
    border-color: transparent !important;
    border-bottom: 1px solid #B1B1B1 !important;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.edit-address .form-group,
.new-address-form .form-group {
    padding-bottom: 5px;
}
.edit-address .validationerror,
.new-address-form .validationerror {
    position: absolute;
}
.btn-save-address {
    background: #54A442;
    color: #fff;
    margin-top: 15px;
    display: block;
    width: 100%;
    padding: 0 45px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #54A442;
    font-size: 1.2em;
    font-weight: 300;
    height: 45px;
}
.btn-save-address:hover,
.btn-save-address:active,
.btn-save-address:focus,
.btn-save-address:visited {
    background: #54A442;
    border: 1px solid #54A442;
    color: #fff;
}
.btn-cancel-new-address {
    color: #d54d4d;
    margin-top: 15px;
    /*display: block;*/
    
    padding: 0 45px;
    font-size: 1.2em;
    font-weight: 300;
    height: 45px;
}
.btn-cancel-new-address:hover,
.btn-cancel-new-address:active,
.btn-cancel-new-address:focus,
.btn-cancel-new-address:visited {
    color: #d54d4d;
}
.btn-use-address {
    background: #47C9AF;
    color: #fff;
    width: 100%;
    margin-top: 15px;
    display: block;
    padding: 0 45px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #47C9AF;
    font-size: 1.2em;
    font-weight: 300;
    height: 40px;
}
.btn-address-default {
    background: #F7F7F7;
    color: #606060;
    width: 100%;
    margin-top: 15px;
    display: block;
    padding: 0 45px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #e3e3e3;
    font-size: 1.2em;
    font-weight: 300;
    height: 40px;
}
.btn-use-address:hover,
.btn-use-address:active,
.btn-use-address:focus,
.btn-use-address:visited {
    background: #47C9AF;
    border: 1px solid #47C9AF;
    color: #fff;
}
.btn-add-new-address {
    background: #fff;
    color: #54A442;
    margin-top: 15px;
    padding: 0 45px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #54A442;
    font-size: 1.2em;
    font-weight: 300;
    height: 40px;
}
.btn-add-new-address:hover,
.btn-add-new-address:active,
.btn-add-new-address:focus,
.btn-add-new-address:visited {
    background: #54A442;
    border: 1px solid #54A442;
    color: #fff;
}
.btn-add-new-address .icon {
    margin-right: 15px;
}
.checkbox label,
.radio label {
    line-height: 20px;
}
.checkbox .saved-addresses {
    padding-bottom: 15px;
}
.checkbox .saved-addresses li {
    padding: 0 7.5px;
}
.checkbox .saved-addresses li:hover {
    background: red;
    border: 1px solid #e3e3e3;
}
.saved-addresses li div:hover {
    border-color: #B5B5B5;
}
.saved-addresses li > a {
    text-decoration: none;
    color: inherit;
    display: block;
}
.saved-addresses li > a:hover {
    text-decoration: none;
    color: inherit;
    background-color: #F9F9F9;
}
.saved-addresses li > a:visited {
    text-decoration: none;
    color: inherit;
}
.saved-addresses li > a > div {
    font-size: 12px;
    padding: 15px;
    margin-top: 15px;
    background: #fff;
    border: 1px solid #e3e3e3;
}
.saved-addresses li.active > a > div {
    border: 1px solid #47C9AF;
}
.defaultaddress {
    float: right;
    color: #47C9AF;
    font-size: 14px;
}
b.landmark {
    display: block;
    margin: 5px 0;
}
.saved-addresses li label {
    font-size: 14px;
    margin-bottom: 5px;
}
.saved-addresses li p {
    margin: 5px 0;
    line-height: 19px !important;
}
.saved-addresses li p.landmark {
    font-weight: bold;
}
.payment {
    margin: 30px 0;
    border: 1px solid #e3e3e3;
}
.payment .nav-tabs>li {
    float: none;
}
.payment .nav-tabs>li:first-child a {
    border-top: 0;
}
.payment .nav-tabs>li:last-child a,
.nav-tabs {
    border-bottom: 0;
}
.payment .nav-tabs>li a {
    padding: 20px 15px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #e3e3e3;
    border-left: 0;
}
.payment .nav-tabs>li a span {
    margin-right: 15px;
}
.payment .nav-tabs>li.active>a {
    /*border: 1px solid #e3e3e3;*/
    
    border-right: 0;
    background: transparent;
}
.payment .nav-tabs>li.active>a:hover,
.payment .nav-tabs>li.a:hover {
    border: transparent !important;
}
.payment .tab-content h3 {
    font-size: 14px;
    . font-weight: 500;
    padding: 15px 0;
}
.item-list {
    margin-bottom: 15px;
}
.item-list li {
    border-bottom: 1px solid #e3e3e3;
    padding-top: 15px;
}
.checkout .item-list li .cart-thumb {
    width: 60px;
    height: auto;
    padding: 5px 0 0 15px;
}
.checkout .item-list .product-name {
    vertical-align: top;
    padding: 5px;
}
.item-list li .cart-thumb img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.item-list li:first-child {
    padding-top: 0;
}
.item-list .product-name {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}
/* carousel */

.grid-control {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}
.grid-control a {
    text-decoration: none;
    opacity: .7;
}
.grid-control a:hover {
    opacity: 1;
}
.grid-control li.control-left {
    left: -30px;
    position: absolute;
    z-index: 1;
}
.grid-control li.control-right {
    position: absolute;
    right: -30px;
    z-index: 1;
}
.grid-control li span {
    font-size: 24px;
}
/* User Account */

.user-account {
    /*border: 1px solid #DEDEDE;*/
}
.user-account-tabs ul li a {
    border: 1px solid #DEDEDE;
    text-align: left;
    text-decoration: none;
    background: #F7F7F7;
    border-top: 0;
    border-right: 0;
    display: block;
    padding: 20px 15px;
}
.user-account-tabs ul li:first-child a {
    border-top: 1px solid #DEDEDE;
}
.user-account-tabs ul li a span {
    margin-right: 5px;
}
.user-account .tab-content {
    border: 1px solid #DEDEDE;
    min-height: 300px;
}
.user-account-tabs ul li {
    position: relative;
}
.user-account-tabs ul li.active a {
    background: #fff;
    border-right: 0;
    color: #47C9AF;
}
.user-account-tabs ul li.active a .active-tab-white {
    background: #47C9AF;
    position: absolute;
    display: block;
    right: -1px;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 2px;
}
.tab-content .tab-pane {
    padding: 0 15px;
}
.tab-content .tab-pane h3 {
    font-size: 14px;
    padding: 5px 0 20px;
    border-bottom: 1px solid #DEDEDE;
}
.user-details {
    /*max-width: 360px;*/
    
    overflow: hidden;
    /*margin: 0 auto;*/
}
.user-details li {
    padding: 0;
}
.user-details li > div {
    background: #fff;
    margin: 15px 7.5px 0 0;
    border: 1px solid #D8D8D8;
    min-height: 98px;
    padding: 10px 15px;
}
.user-details li:nth-child(2) > div,
.user-details li:nth-child(4) > div {
    margin: 15px 0 0 7.5px;
}
.user-details li > div:hover {
    border-color: #B5B5B5;
}
.user-details li > div.active {
    background: #fff;
    border-color: #47C9AF;
}
.user-details li label {
    font-size: 12px;
    margin: 5px 0;
    font-weight: 300;
}
.user-details li > div > form {
    position: relative;
}
.user-details li > div > div input {
    font-size: 14px;
    margin: 5px 0;
    line-height: 30px !important;
    font-weight: 500;
}
.user-details li > div .inline {
    vertical-align: baseline;
}
.user-details li > div .btn-verify {
    padding: 0;
    margin: 0 15px;
}
.user-details li > div > form .user-name input {
    text-transform: capitalize;
}
.Verified {
    background: #35ac19;
}
.user-details .btn-edit,
.user-details .btn-save {
    /*float: right;*/
    
    font-size: 12px;
    position: absolute;
    right: 0;
    bottom: 8px;
}
.user-details .btn-save {
    border: 1px solid #47C9AF;
}
.edit-user-name {
    position: relative;
}
.user-details input {
    height: 30px;
    margin: 5px 0;
    max-width: 200px;
    padding: 0;
    background: transparent !important;
    border-color: transparent !important;
}
.user-details input:focus {
    background: transparent !important;
    border-bottom: 1px solid #B1B1B1 !important;
}
.edit-password .password {
    max-width: 200px;
}
.edit-password .password .glyphicon {
    right: 10px;
    top: 10px;
}
.past-orders-head ul li {
    display: inline-block;
}
.past-order-products .order-id {
    font-weight: 500;
    padding: 15px;
    background: #F7F7F7;
}
.past-order-products .cart-thumb {
    width: 120px;
    height: auto;
    padding: 0 15px;
}
.past-order-products .product-title {
    font-size: 12px !important;
    margin: 0;
}
.past-order-products .cart-thumb img {
    width: 100% !important;
    height: auto;
    display: block;
    margin: 0 auto;
}
.past-order-item-details {
    padding: 5px 5px 15px 0;
    padding-top: 15px;
    position: relative;
    border-bottom: 1px solid #DEDEDE;
}
.past-order-footer {
    margin: 0;
    background: #e3e3e3;
}
.past-order-footer div {
    /*border-top: 1px solid #DEDEDE;*/
    
    padding: 10px 15px;
}
.past-order-products .product-description {
    margin: 0;
}
.past-order-item .cart-item-details {
    padding: 0 15px;
}
.past-order-item.cart-item {
    margin: 15px 0;
    /*padding: 10px 15px;*/
}
.item-unavailable {
    opacity: .7;
}
.saved-addresses li div {
    position: relative;
}
.saved-addresses li > div {
    background: #fff;
    font-size: 12px;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid #e3e3e3;
}
.saved-addresses li div .action-btns {
    /*display: none;*/
    
    top: 10px;
    right: 10px;
    position: absolute;
}
.saved-addresses li div .btn-remove {} .saved-addresses li:hover div {
    display: block;
}
#notifications .notification-list {
    min-width: 100%;
}
#notifications .notification-list li {
    background: #fff;
    border: 1px solid #D8D8D8;
    padding: 10px 15px;
    margin: 15px 0;
}
#notifications .notification-list .notification-image {
    max-width: 75px;
}
.edit-address {
    padding: 15px;
}
/* Toast */

.added-to-cart.toast {
    width: 300px;
    height: auto;
    position: fixed;
    z-index: 2;
    top: 100px;
    right: 30px;
    background: #fff;
    box-shadow: 0 0 5px rgba(51, 51, 51, 0.43);
}
.added-to-cart .added-item-thumb {
    display: inline-block;
    text-align: left;
    float: left;
    max-width: 75px;
}
.added-to-cart .added-item-details {
    max-width: 188px;
    display: inline-block;
    vertical-align: top;
    margin: 15px;
    float: left;
}
.added-to-cart .product-description {
    font-size: 12px;
}
.added-to-cart label {
    clear: both;
    float: none;
    display: block;
    color: #fff;
    background: #47C9AF;
    padding: 5px 0;
    font-weight: 500;
    text-align: center;
}
.loading > p {
    color: #282828;
    font-size: 25px;
}
/* Order Details  */

.per-order-details h3 {
    font-size: 14px;
    padding: 5px 0 20px;
    border-bottom: 1px solid #DEDEDE;
}
/*.order-summary > .row{
	border: 1px solid #e3e3e3;
	padding: 15px 0;
	margin: 30px 0;
	font-size: 14px;
	clear: both;
}*/

.item-order-details .row {
    margin: 30px 0;
    clear: both;
}
.order-summary li {
    /*margin-bottom: 15px;*/
}
span.order-id {
    font-size: 16px;
    color: #47C9AF;
}
label.name {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}
span.phone {
    font-size: 14px;
    color: #aaaaaa;
}
.order-summary li label {
    font-weight: 500;
}
.order-summary li span.payment-method {
    color: #aaaaaa;
}
.order-summary p {
    margin-bottom: 5px;
    line-height: 20px !important;
    display: block;
}
.product-status {
    /*	margin-left: 80px;
	margin-right: 80px;*/
}
.statusitems {
    padding-top: 30px;
}
.product-status li {
    padding: 0;
    font-size: 12px;
}
.product-status li .timeline {
    background: #e3e3e3;
    height: 2px;
    width: 100%;
}
.product-status li p {
    color: #858585;
    font-size: 10px;
    margin-bottom: 0;
}
.product-status li span {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    display: block;
    background: #F0F0F0;
    border: 1px solid #AEAEAE;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: -7px;
}
.product-status li .timeline-info {
    position: absolute;
    text-align: left;
    background: #FBFBFB;
    border: 1px solid #47C9AF;
    padding: 5px 7.5px;
    top: 42px;
    left: 0;
    right: 0;
    width: 200px;
    z-index: 2;
}
.product-status li .timeline-info:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 42px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) transparent;
}
.product-status li.cancelled .timeline-info {
    background: #fdf2f2;
    border: 1px solid #E75958;
}
.product-status li.done span {
    background: #AEA9A9;
    border: 1px solid #AEAEAE;
}
.product-status li.done label {
    color: #AEA9A9;
}
.product-status li.done p {
    color: #C5C5C5;
    margin-top: 5px;
}
.product-status li.active span {
    background: #69BB27;
    border: 1px solid #589E21;
}
.product-status li.cancelled span {
    background: #E75958;
    border: 1px solid #E75958;
}
.product-status li.active label {
    color: #69BB27;
}
.product-status li.cancelled label {
    color: #E75958;
}
.product-status li.cancelled p {
    color: #E75958;
}
.product-status li label {
    margin-top: 18px;
}
.user-timeline {
    display: block;
    clear: both;
}
.user-ratings {
    margin: 45px 0;
}
.user-ratings li {
    width: 120px;
    display: inline-block;
}
.user-ratings li img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    max-width: 45px;
    display: block;
    height: auto;
}
.user-ratings li label {
    margin-top: 15px;
}
.user-reviews {
    margin: 30px auto 0;
    display: block;
    float: none;
}
.user-reviews label {
    font-size: 14px;
    margin: 5px 0;
}
.user-reviews .input-group {
    width: 100%;
}
.user-reviews .form-group input,
.user-reviews .form-group textarea {
    margin-bottom: 5px;
    font-size: 12px;
}
.user-reviews p {
    color: #B3B3B3;
    font-size: 12px;
}
.user-reviews .form-group {
    margin-bottom: 30px;
}
.green-bright {
    background-color: #9ccc65;
}
.yellow {
    background-color: #f8bc3b;
}
.green-dark {
    background-color: #43a047;
}
.red {
    background-color: red;
}
.grey {
    background-color: grey;
}
form.ng-submitted .ng-invalid {
    border-bottom-color: darkorange!important;
}
.validationerror {
    position: relative;
    font-size: 0.9em;
    color: #e74c3c;
    /*padding-top: 8px;*/
    /*padding-left: 4px;*/
}
.order-currnt-status {
    position: absolute;
    text-align: right;
    top: 15px;
    right: 15px;
}
.order-currnt-status h5 {
    margin-bottom: 15px;
    font-weight: 600;
    display: block;
}
.order-currnt-status .stock-availability {
    position: relative;
    clear: both;
    margin: 15px 0;
}
.order-currnt-status h5.confirmed {
    color: #54A442;
}
.order-currnt-status h5.cancelled {
    color: #e75958;
}
.order-currnt-status h5.shipped {
    color: #3dace5;
}
.searchresult {
    /*background-color: lightgrey;*/
    background-color: rgba(82, 201, 69, 0.61);
}
.order-currnt-status .btn-cancel {
    margin: 15px 0;
}
.past-order-item-details.cancelled-order {
    pointer-events: none;
    background-color: #fff;
    border: 1px solid #E75958;
    opacity: .7;
}
.past-order-item-details.cancelled-order .order-id {
    background-color: #fdf2f2;
}
.filler {
    margin-bottom: 500px;
}
/* Order-summary-block */

.order-summary-block li {
    margin-bottom: 15px;
}
.order-summary .order-info-sec {
    margin-top: 30px;
}
.order-address strong {
    margin-bottom: 15px;
    display: block;
}
.order-summary .sub-header {
    margin: 30px 0;
}
.order-summary-block1 {
    width: 640px;
    margin: 0 auto;
    padding: 0 30px;
}
.order-summary-block span.phone {
    display: inline-block;
}
.order-summary li h4 {
    color: #69BB27;
}
.order-summary-block label {
    width: 120px;
}
strong.amount {
    font-size: 14px;
}
.order-summary span.phone {
    padding: 0 15px;
}
.single-item {
    padding: 15px 0;
    border-bottom: 1px solid #e1e1e1;
}
.order-summary .cart-thumb {
    width: 90px;
    height: 90px;
}
.order-summary .cart-item-details {
    padding: 0 15px;
}
.order-summary .quantity-select,
.order-summary .total {
    padding: 15px;
    text-align: right;
}
.table-head li {
    display: inline-block;
    background: #e1e1e1;
    padding: 15px;
}
.table-head li strong {
    padding: 0 15px;
}

.grand-total{
    text-align: left;
}
.grand-total label {
    font-weight: 500;
}
.grand-total strong {
    font-size: 24px;
    color: #69BB27;
    margin: 0 15px;
}
.user-details {
    padding: 15px;
}
.order-info-sec {
    background: #fff;
    padding: 0 15px;
}
.continue-shopping {
    margin: 5% 0;
}
.continue-shopping p {
    margin: 15px 0;
}
.continue-shopping .btn {
    font-size: 14px;
    color: #fff;
    background: #47C9AF;
}
.btn-my-orders:visited,
.btn-my-orders {
    color: #47C9AF;
    background: #fff;
    border: 1px solid #47C9AF;
}
.btn-my-orders:hover,
.btn-my-orders:active,
.btn-my-orders:focus {
    color: #fff;
    background: #47C9AF;
    border: 1px solid #47C9AF;
}
.order-date {
    color: #aaaaaa;
    padding: 0 15px;
}
/* Alert Box */

.alert-modal {
    max-width: 480px;
    margin-top: 18%;
}
.alert-modal .modal-content {
    border-radius: 0;
}
.alert-modal .modal-content h4 {
    margin: 0 0 15px 0;
}
.confirm-cancellation-modal {
    max-width: 480px;
    margin-top: 18%;
}
/* About page */

.about-page.container {
    max-width: 640px;
}

.about-terms ul,
.about-terms li {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px !important;
    list-style-position: inside;
    padding-left: 1em
}
.about-terms li:before {
    content: "• ";
    color: #47C9AF;
}
.about-Service li,
.about-page p {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px !important;
}

.about-services span {
    padding: 45px 0 15px;
    display: block;
}
.about-Service {
    margin: 30px 0;
}
.about-Service h5 {
    margin-bottom: 15px;
    color: #47C9AF;
    font-weight: 500;
}
.about-Service li {
    margin: 5px 0;
}
.contact-detials.container {
    max-width: 640px;
}
.contact-detials {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    line-height: 24px !important;
}
.contact-detials p {
    margin: 15px 0;
}
.contact-detials b {
    clear: both;
    display: block;
}
.contact-detials ul {
    margin: 45px 0;
}
.error-page {
    text-align: center;
    margin: 12.5% 0;
}
.error-page > p {
    color: #a1a1a1;
    font-size: 14px;
    width: 640px;
    margin: 0 auto;
    line-height: 24px !important;
}
.error-page img {
    opacity: .5;
    max-height: 200px;
    width: auto;
}
.error-page h3 {
    margin: 0px 0 15px;
    color: #47C9AF;
}
.error-page .btn-continue-shopping {
    padding: 15px;
    color: #47C9AF !important;
    background: #fff !important;
    box-shadow: none !important;
    border: 1px solid #47C9AF;
}
.error-page .btn-continue-shopping:focus,
.error-page .btn-continue-shopping:focus,
.error-page .btn-continue-shopping:hover,
.error-page .btn-continue-shopping:active {
    color: #fff !important;
    background: #47C9AF !important;
}
.debugblock {
    padding: 10px;
}
.debugblock > p {
    padding: 5px;
    color: grey;
}
.ng-toast .ng-toast__list {
    top: 75px !important;
}
.sign-up-offers {
    /*margin-bottom: 5px;*/
    
    background: #f1c40f;
}
.sign-up-offers label {
    color: #260e1d;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    padding-right: 15px;
}
.sign-up-offers button.close{
	opacity: 1;
    position: absolute;
    right: 10px;
    top: 10px;
}

.dropdown-menu .sign-up-offers:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 45%;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: #f1c40f transparent;
}
.coming-soon {
    border-top: 0px;
    padding-top: 15%;
    padding-bottom: 15%;
    text-align: center
}

.invite-user{
    width: 100%;
}

.invite-user h5 {
    border-bottom: 1px solid #e3e3e3;
    margin: 15px 0;
    padding: 15px 0;
    display: block;
}

.invite-user input {
    margin: 0;
    padding: 8px;
    vertical-align: bottom;
    min-height: 30px;
    display: inline-block;
    border-radius: 4px!important;
    outline: 0;
    border: 1px solid #e1e1e1;
    min-width: 186px;
    margin-right: 5px;
}
.btn-invite{
    background: #47C9AF;
    color: #fff;
}

/* Home Testimonials */

.user-testimonials{
    background: #f3f3f3;
    margin-bottom: 0;
}

.user-testimonial p{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 18px!important;
}

.testimonial-username strong{
    font-size: 13px;
    color: #47C9AF;
}

.testimonial-username span{
    font-size: 12px;
    clip: both;
    display: block;
    font-weight: 400;
}
.testi-page p {
    font-size: 14px;
    font-weight: 200;
    line-height: 24px !important;
}

@media (max-width: 500px) {

    .invite-user input{
        min-width: 186px;
        margin-right: 5px;
        width: 220px;
        max-width: 220px;
    }

    .offers-widget{
        width: 100%;
        height: auto;
        display: block;
        z-index: 16000002;
    }

    .offers-widget p{
        font-size: 12px;
        margin: 5px 0 5px;
    }

    .offers-widget p span{
        font-size: 12px;
    }

    .offers-widget h4{
        font-size: 12px;
    }

    .category-list-subhead .container{
        padding: 0;
    }

    .category-list-subhead label{
        padding: 0 15px;
    }

    .category-list-subhead{
        padding: 10px 0;
    }

    .category-lists li{
        padding: 0 15px;
        margin: 15px 0 10px;
    }

    .category-lists li:first-child {
        margin-left: 0;
    }

    /*header {
        background: #F7F7F7;
        border-bottom: 1px solid #DEDEDE;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 3;
    }*/
    .header-menu {
        padding-bottom: 15px;
    }
    .edit-location {
        text-align: center;
        margin: 0;
    }
    .user-log-name {
        color: #47C9AF !important;
    }
    .top-bar {
        border-bottom: 1px solid #E9E9E9;
    }
    .top-bar .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-brand {
        font-size: 18px;
        color: #000;
        position: relative;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 20px !important;
    }
    .navbar-brand span {
        color: #009688;
        font-size: 10px;
        position: absolute;
        top: 0px;
        right: 15px;
        font-weight: 500;
    }
    /* Search Bar */
    .search-panel {
        vertical-align: top;
    }
    .search-panel .btn-category {
        background: #F8F8F8;
        border: 1px solid #ccc;
        border-right: 0;
        -webkit-border-radius: 15px 0 0 15px;
        -moz-border-radius: 15px 0 0 15px;
        border-radius: 15px 0 0 15px;
    }
    .search-panel .btn-category:hover,
    .search-panel .btn-category:active,
    .search-panel .btn-category:focus,
    .search-panel .btn-category:visited {
        background: #F8F8F8;
        outline: 0;
    }
    .input-group input.form-control {
        border-right: 0 !important;
    }
    .bt-search {
        background: #fff;
        border: 1px solid #ccc;
        border-left: 0;
        box-shadow: none;
        -webkit-border-radius: 0 15px 15px 0;
        -moz-border-radius: 0 15px 15px 0;
        border-radius: 0 15px 15px 0;
        padding: 8px 12px;
    }
    .bt-search span {
        top: 2px;
    }
    /* Menu */
    .mob-nav {
        position: absolute;
        padding: 0;
        text-align: right;
        right: 15px;
    }
    .navbar-nav{
    	margin-top: 0;
    }
    .nav.navbar-nav.navbar-right>li {
        display: inline-block!important;
    }
    .nav.navbar-nav.navbar-right>li.customer-care{
    	display: block!important;
    }
    .nav.navbar-nav.navbar-right>li a {
        padding: 5px;
    }
    .nav-main.navbar-nav>li > .dropdown > a {
        position: relative;
        padding: 10px;
    }
    .navbar-right .dropdown-menu {
        position: absolute!important;
        background-color: #fff!important;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc!important;
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175)!important;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        left: 10px;
        right: auto;
        top: 40px;
        margin: 0;
        padding: 0;
    }
    /* Notification */
    .notification .circle {
        top: 2px;
        right: 2px;
    }
    .notification .dropdown-menu {
        left: -102px;
        right: auto;
    }
    .notification .dropdown-menu:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        left: 110px;
        border-width: 0 8px 8px 8px;
        border-style: solid;
        border-color: #ccc transparent;
    }
    ul.notification-list {
        width: 280px;
        max-height: 242px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    ul.notification-list li a {
        white-space: initial;
        padding: 15px;
        border-bottom: 1px solid #DEDEDE;
        line-height: 18px!important;
    }
    ul.notification-list li p {
        font-size: 12px;
        font-weight: 500;
        color: #838383;
        line-height: 16px!important;
    }
    ul.notification-list li p b {
        color: #000;
        font-weight: 500;
    }
    .notification-icon {
        font-size: 22px;
        border: 1px solid #A6A6A6;
        border-radius: 33px;
        display: block;
        width: 45px;
        height: 45px;
        text-align: center;
        padding: 10px;
        color: #858585;
    }
    .notification-timestamp {
        font-size: 10px;
    }
    /* Login / Sign up */
    .login .dropdown-menu:before {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        bottom: 100%;
        right: 15px;
        border-width: 0 8px 8px 8px;
        border-style: solid;
        border-color: rgba(0, 0, 0, 0.1) transparent;
    }
    .login a {
        text-transform: capitalize;
    }
    .login-from {
        width: 240px;
        padding: 15px;
        padding-bottom: 0;
        font-size: 12px;
    }
    .login-from input {
        font-size: 12px!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        border-radius: 0!important;
    }
    #signupform .modal-dialog {
        width: auto;
    }
    #signupform .form-control,
    .login-from .form-control {
        background: transparent!important;
        border-color: transparent !important;
        border-bottom: 1px solid #B1B1B1!important;
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .login-from > label {
        font-size: 14px;
        color: #000;
    }
    .newuserdiv a {
        box-shadow: none!important;
        color: #47C9AF!important;
    }
    .login-from > label,
    .login-from .login-help,
    .login-from .form-control {
        margin-bottom: 15px;
    }
    .login-help a {
        padding: 10px 0;
    }
    .btn-login {
        color: #fff;
        background: #47C9AF;
    }
    .btn-login:hover,
    .btn-login:active,
    .btn-login:focus,
    .btn-login:visited {
        color: #fff;
        background: #47C9AF;
    }
    .password {
        position: relative;
    }
    .password input[type="password"] {
        padding-right: 30px;
    }
    .password .glyphicon,
    #password2 .glyphicon {
        display: none;
        right: 24px;
        position: absolute;
        top: 12px;
        cursor: pointer;
    }
    .btn-sign-up {
        font-size: 12px!important;
        padding: 10px 0 15px;
    }
    .btn-sign-up-form {
        color: #fff;
        background: #47C9AF;
    }
    .btn-sign-up-form:hover,
    .btn-sign-up-form:active,
    .btn-sign-up-form:focus,
    .btn-sign-up-form:visited {
        color: #fff;
        background: #47C9AF;
    }
    .btn-cancel {
        color: grey;
        background: transparent;
    }
    .btn-cancel:hover,
    .btn-cancel:active,
    .btn-cancel:focus,
    .btn-cancel:visited {
        color: grey;
        background: transparent;
    }
    #signupform .modal-header {
        border: 0;
    }
    #signupform .modal-header p {
        margin-top: 10px;
        line-height: 18px!important;
    }
    #signupform .modal-body .form-group:last-child {
        margin-bottom: 0;
    }
    #signupform .modal-footer {
        border: 0;
    }
    #signupform input {
        font-size: 12px!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
        border-radius: 0!important;
    }
    .verification-success span {
        font-size: 34px;
        font-weight: 100;
        margin: 15px 0;
        color: green;
    }
    /* Home page banner */
    
    .banner {
        height: 360px;
        max-height: 512px;
        overflow: hidden;
        background: url(../images/banner-image.jpg) bottom;
        background-size: cover;
        position: relative;
    }
    .banner ul {
        margin: 0;
        padding: 0;
    }
    .banner ul li img {
        width: 100%;
    }
    .banner-text {
        position: absolute;
        padding: 15px;
        text-align: center;
        left: 0;
        bottom: 45px;
        right: 0;
        color: #fff;
    }
    .banner-text h2 {
        font-size: 24px;
        margin: 30px 0;
        text-transform: uppercase;
        font-weight: 400;
        line-height: 36px!important;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.37);
    }
    .banner-text span {
        color: #47C9AF;
    }
    .banner-text p {
        color: #fff;
    }
    .banner .services {
        margin: 30px 0 0;
        padding-bottom: 15px;
    }
    .banner .services span {
        color: #fff;
    }
    /* Sub Headers*/
    .sub-header h3:before {} .sub-header {
        padding: 10px;
        background-color: transparent;
        width: 100%;
        font-weight: 300;
        margin: 30px 0;
    }
    .sub-header h4 {
        color: #1a1a1a;
    }
    .sub-header .fancy span {
        display: inline-block;
        position: relative;
    }
    .sub-header .fancy span:after,
    .sub-header .fancy span:before {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #6B6B6B;
        top: 8px;
        width: 100%;
    }
    .sub-header .fancy span:before {
        right: 100%;
        margin-right: 15px;
    }
    .sub-header .fancy span:after {
        left: 100%;
        margin-left: 15px;
    }
    /* Home page Collections */
    
    .left-grid > div:last-child {
        margin-top: 10px;
    }
    .left-grid .category-col img {
        max-height: auto;
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    .category-detail {
        padding: 15px;
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .category-col .overlay {
        position: absolute;
        background: #000;
        opacity: .3;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .category-detail h4 {
        font-weight: 400;
        text-transform: uppercase;
    }
    .category-detail p {
        color: #fff;
        margin: 15px 0;
        line-height: 18px!important;
    }
    .category-list-home .right-grid img {
        max-height: 500px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
    }
    /* Loader */
    
    .loader,
    .catloader {
        background: #fff;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
    }
    .loader img,
    .catloader img {
        max-width: 60px;
        vertical-align: middle;
        display: block;
        margin: 60% auto;
    }
    /* Collections */
    
    .category-col {
        margin-bottom: 5px;
    }
    .left-grid > div:last-child {
        margin: 0;
        margin-bottom: 5px;
    }
    /* Product page */
    

    .grid-left .big-image {
        width: 100%;
        height: auto;
        float: right;
    }
    /* Services */
    
    .services {
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .services span,
    .services label {
        display: block;
        margin: 15px 0 10px;
    }
    .services p {
        line-height: 18px!important;
        font-weight: 300;
    }
    .services label {
        color: #47C9AF;
    }
    /* Footer */
    
    .footer {
        background: #282828;
        padding: 15px 0;
    }
    .footer ul.nav {
        text-align: center;
    }
    .footer ul.nav li {
        display: inline-block;
    }
    .footer ul.nav li a {
        color: #fff;
        padding: 15px 7.5px;
        font-size: 12px;
    }
    .footer ul.nav li:hover a {
        color: #47C9AF;
    }
    .footer ul.nav>li>a:focus,
    .footer ul.nav>li>a:hover {
        background: transparent;
        outline: 0
    }
    .footer .services span {
        color: #fff;
    }
    .footer .services p {
        color: #B9B9B9;
    }
    .copyright {
        color: #fff;
        padding: 0;
        display: block;
        text-align: center;
        width: 100%!important;
        font-size: 12px;
    }
    div.footer .social li {
        display: inline-block;
    }
    div.footer .social img {
        height: 20px;
        width: auto;
    }
}

@media (min-width: 768px) {
	.main-container {
    	margin-top: 10px;
	}
	.quality-index-block{
/*		width: 100%;
		margin-left: 15%;
		margin-right: 15%;*/
	}

	.offers {
	    width: 240px;
	}
	.grid-left .big-image {
	    /* This is the class of the div which contains big image */
	    
	    background: #fff;
	    width: 460px;
	    height: 460px;
	    margin-left: 15px;
	    position: relative;
	    border: 1px solid #EFEFEF;
	    display: inline-block;
	}
	.grid-left .big-imagediv {
	    margin: 0 auto;
	}
	.grid-left .big-image img {
	    display: block;
	    max-width: 450px;
	    max-height: 450px;
	    width: auto;
	    height: auto;
	    margin: 0 auto;
	}
	.product-pricings .market-price {
	    margin: 0 15px;
	}

	 .sub-header .fancy span:after,
    .sub-header .fancy span:before {
        content: "";
        position: absolute;
        height: 5px;
        border-bottom: 1px solid #6B6B6B;
        top: 8px;
        width: 100%;
    }
    .sub-header .fancy span:before {
        right: 100%;
        margin-right: 15px;
    }
    .sub-header .fancy span:after {
        left: 100%;
        margin-left: 15px;
    }

    .item-col .item-col-wrap {
	    margin: 0 0 30px 0;
	}


    /* Product page */

    .image-thumb-list {
        float: left;
        width: 75px;
        vertical-align: top;
        display: inline-block;
        position: relative;
    }
    .image-thumb-list span.btn-left {
        position: absolute;
        left: 0;
        top: 30px;
    }
    .image-thumb-list span.btn-right {
        position: absolute;
        right: 0;
        top: 30px;
        background: #fff;
        opacity: .5;
    }
    .image-thumb-list span.btn-right:hover {
        opacity: 1;
    }
    .image-thumb-list span.btn-right:active {
        background: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .image-thumb-list span span {
        -ms-transform: rotate(90deg);
        /* IE 9 */
        
        -webkit-transform: rotate(90deg);
        /* Chrome, Safari, Opera */
        
        transform: rotate(90deg);
        font-size: 18px;
        font-weight: 100;
        display: block;
    }
    .image-thumb-list ul {
        display: block;
        padding: 0 5px;
        text-align: center;
    }
    .image-thumb-list li {
        width: 75px;
        height: 75px;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 5px;
        border: 1px solid #D5D5D5;
        overflow: hidden;
        margin: 0 auto;
    }
    .image-thumb-list li:hover {
        border: 1px solid #B3B3B3;
    }
    .image-thumb-list li.active {
        border: 1px solid #47C9AF;
    }
    .image-thumb-list li img {
        width: auto;
        height: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .image-thumb-list li:last-child {
        margin-bottom: 0;
    }

    .quality-index-block {
        margin: 15px 0 30px;
    }

    .cart-item .cart-thumb {
        padding: 10px 0;
        width: 150px;
        height: 150px;
        /*float: left;*/
        /*margin-right: 15px;*/
        display: inline-block;
    }
    .cart-thumb img {
        width: auto;
        height: 100%;
        display: block;
        margin: 0 auto;
    }
    .cart-item-details .product-actions {} .quantity-select,
    .total {
        padding-top: 25px;
        text-align: center;
        display: block;
    }
    .grand-total{
        text-align: right;
    }
}

.Pocketin-skin{
    /*background: #e2e2e2;*/
}

.sales-page-detials{
    margin-top: 15px;
}

.sales-page-detials .services {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px 0 45px;
}

.sales-page-detials label{
    font-weight: 500;
    margin-bottom: 5px;
}

.sales-page-detials label span{
    color: red;
}

.product-details-section{
    
    padding: 30px 30px;
    margin-bottom: 30px;
    overflow: hidden;
}

.product-details-section .form-control{
    font-size: 13px;
    font-weight: 300;
}

.col-centered{
    float: none;
    clear: both;
    margin: 0 auto;
    display: block;
}

 .seller_prod_images_list {
    text-align: left;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0px 0px 5px;
    padding: 0px !important;
}

 .seller_prod_images_list li {
    width: 100px;
    height: 100px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(229, 229, 229);
    padding: 30px 0px 0px;
    overflow: hidden;
    color: rgb(175, 175, 175);
}

.img-content .icon{
    font-size: 24px;
    margin-bottom: 10px;
    display: block;
}

.sub-heading{
    margin: 45px 0;
    text-align: center;
}

.sub-heading h4{
    color: #47C9AF;
    font-size: 16px;
}

.sub-heading p{
    font-size: 13px;
    font-weight: 300;
    margin: 5px 0;
}

.product-type{
    margin-bottom: 15px;
}

.product-type .form-group{
    margin-bottom: 0;
}

.product-type .radio{
    margin-right: 15px;
}

.form-control{
    border-radius: 0;
    -webkit-appearance: none;
    border-radius: 0!important;
}

.submit-product-btn{
    margin: 30px 0;
}

.submit-product-btn .btn-submit{
    background: #d61b5e;
    color: #fff;
    margin-bottom: -20px
}

.side-panel {
    padding-left: 20px;
    color: #f29c07;
    background: white;
    padding-left: 20px;
    /*margin-left:75px;*/
    border-left: 1px solid #eee;
}

.sidepanel-content {
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.sidepanel-content > h4 {
    margin-bottom:5px;
    font-weight: 400;
}
.sidepanel-content > p {
     line-height: 18px !important;
     font-weight: 200;
}

/* ng-flow */
.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}

.drop.drag-over {
    background: #5CB85C;
    color: #fff
}

.transfer-box {
    margin-bottom: 5px;
}

.transfer-box .progress {
    margin-bottom: 0;
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
}

.thumbnail img {
    max-width: 150px;
    max-height: 150px;
}

.gallery-box {
    /*width: 200px;*/
    padding: 5px;
    /*margin: 7px;*/
    /*min-height: 200px;*/
    overflow: hidden;
}

.gallery-box .progress {
    margin-bottom: 0;
}

.gallery-box .thumbnail {
    height: 100px;
    width: 100px;
}

.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
} /*ng-flow ends*/

.offer {
    /*position: absolute;
    right: 90px;
    top: 99px;
    z-index: 1;*/
    width: 340px;
    position: fixed;
    z-index: 33;
    bottom: 0px;
    right: 2%;
    background: #ffa300;
    color: #4b1b39;
    padding: 15px;
    border: 1px solid white;
    border-bottom:0;
    border-radius: 14px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.offer-header {
    font-weight: 600;
    border-bottom: 1px solid #4b1b39;
    padding-bottom: 5px;
    margin-bottom: 2px
}
.offer-line {
    padding-top: 5px;
    color: #0d1f38;
    font-size: 16px;
    font-weight: 400;
}
.offer-condition {
    color: #0d1f38;
    font-size: 11px;
    font-weight: 200;
    text-decoration: italics;
    font-style: italic;
    margin-top:10px;
    margin-left: 10px;
}