/* 
	Pocketin - Mobile device Css 
	Version: 1.0
	Author: Sarangh Somaraj 
	Dated: Sun, 14 Feb 2016 10:45 AM GMT
*/

@media screen and (max-width: 1200px) {

	.collections > div{
		margin-bottom: 10px;
		max-height: 236px;
	} 

	.item-col{
		margin-bottom: 15px;
	}

}

@media screen and (max-width: 992px) {


	.main-container{
		margin-top: 155px!important;
	}


}

@media screen and (max-width: 768px) {

	.grid-control{
		display: none;
	}

	.main-container{
		margin-top: 155px!important;
	}

	.top-bar ul.nav{
		text-align: center;
	}
	
	.nav.navbar-nav.navbar-right>li{
		display: inline-block!important;
	}

	.mob-nav{
		position: absolute;
		text-align: right;
		right: 0;
	}

	.services{
		padding: 15px;
	}

	.services>div{
		margin: 15px 0;
	}

	.sub-header .fancy span:after, .sub-header .fancy span:before{
		width: 84px!important;
	}

	.left-grid>div,
	.right-grid>div{
		padding: 15px 15px 0;
	}

	.left-grid > div:last-child {
    	margin-top: 0!important;
	}

	.hor-gird  .row > div,
	.services .row > div{
		margin: 15px 0;
	}


	/* Products page */

	.image-thumb-list li{
		margin: 0 5px;
		width: 60px;
    	height: 60px;
	}

	.image-thumb-list span.btn-left,
	.image-thumb-list span.btn-right{
		top: 15px;
	}


	.product-technical-details .row > div{
		margin: 15px 0;
	}

	/* Footer */

	.footer{
		text-align: center;
	}
	
	.footer .copyright{
		display: block;
    	float: none!Important;
   		margin: 15px 0!Important;
	}

	table td[class*=col-], table th[class*=col-]{
		display: inline-block;
	}

	.table-head .col-xs-4{
		display: none;
	}

	.cart-items td{
		margin-bottom: 15px;
	}

	.quantity-select, .total{
		padding: 15px 0;
		text-align: left;
	}

	.collections > div{
		margin-bottom: 10px;
	    max-height: initial;
	} 

	.payment .nav-tabs>li a label{
		display: none;
	}

	.saved-addresses li{
		margin-bottom: 15px;
		padding: 0;
	}

	.summary-grid{
		padding: 0;
		margin-top: 15px;
	}




	

}


@media screen and (max-width: 420px) {

	.cart-item-details .product-actions{
		float: none;
		display: block;
		margin-top: 15px;
	}
	.collections > div{
		margin-bottom: 10px;
		max-height: initial;
	} 

	.navbar-right .dropdown-menu{
		left: -15px;
		right: auto;
	}

	.notification .dropdown-menu:before{
		left: 12px;
		right: auto;
	}


}


