@font-face {
    font-family: 'Pocketin-icon-fonts';
    src:    url('../fonts/Pocketin-icon-fonts.eot?lfkzfw');
    src:    url('../fonts/Pocketin-icon-fonts.eot?lfkzfw#iefix') format('embedded-opentype'),
        url('../fonts/Pocketin-icon-fonts.ttf?lfkzfw') format('truetype'),
        url('../fonts/Pocketin-icon-fonts.woff?lfkzfw') format('woff'),
        url('../fonts/Pocketin-icon-fonts.svg?lfkzfw#Pocketin-icon-fonts') format('svg');
    font-weight: normal;
    font-style: normal;
}

 
[class^="pocketin-icon-"], [class*=" pocketin-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Pocketin-icon-fonts' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pocketin-icon-trash-2:before {
    content: "\e930";
}
.pocketin-icon-trash-3:before {
    content: "\e931";
}
.pocketin-icon-quality-index:before {
    content: "\e92f";
}
.pocketin-icon-Wallet:before {
    content: "\e016";
}
.pocketin-icon-star-empty:before {
    content: "\e905";
}
.pocketin-icon-star-half:before {
    content: "\e92a";
}
.pocketin-icon-star-full:before {
    content: "\e92b";
}
.pocketin-icon-heart:before {
    content: "\e92c";
}
.pocketin-icon-play3:before {
    content: "\e932";
}
.pocketin-icon-pause2:before {
    content: "\e933";
}
.pocketin-icon-circle-up:before {
    content: "\e92d";
}
.pocketin-icon-circle-right:before {
    content: "\e934";
}
.pocketin-icon-circle-down:before {
    content: "\e92e";
}
.pocketin-icon-circle-left:before {
    content: "\e935";
}
.pocketin-icon-ctrl:before {
    content: "\e928";
}
.pocketin-icon-Mail-1:before {
    content: "\e900";
}
.pocketin-icon-File-1:before {
    content: "\e901";
}
.pocketin-icon-File-2:before {
    content: "\e902";
}
.pocketin-icon-File-3:before {
    content: "\e903";
}
.pocketin-icon-Riddon:before {
    content: "\e927";
}
.pocketin-icon-Thumps-up:before {
    content: "\e904";
}
.pocketin-icon-Star:before {
    content: "\e906";
}
.pocketin-icon-User:before {
    content: "\e907";
}
.pocketin-icon-Front-load:before {
    content: "\e908";
}
.pocketin-icon-Top-load:before {
    content: "\e909";
}
.pocketin-icon-trash-1:before {
    content: "\e90a";
}
.pocketin-icon-Zoom-out-1:before {
    content: "\e90b";
}
.pocketin-icon-Zoom-in-1:before {
    content: "\e90c";
}
.pocketin-icon-Automatic:before {
    content: "\e929";
}
.pocketin-icon-Check:before {
    content: "\e90d";
}
.pocketin-icon-Cross:before {
    content: "\e90e";
}
.pocketin-icon-Eye:before {
    content: "\e90f";
}
.pocketin-icon-Info:before {
    content: "\e910";
}
.pocketin-icon-Calender-1:before {
    content: "\e911";
}
.pocketin-icon-Timer:before {
    content: "\e912";
}
.pocketin-icon-Settings-1:before {
    content: "\e913";
}
.pocketin-icon-Settings-2:before {
    content: "\e914";
}
.pocketin-icon-Notification:before {
    content: "\e915";
}
.pocketin-icon-Logout:before {
    content: "\e916";
}
.pocketin-icon-Mic:before {
    content: "\e917";
}
.pocketin-icon-Phone:before {
    content: "\e918";
}
.pocketin-icon-Curls:before {
    content: "\e919";
}
.pocketin-icon-Temperature:before {
    content: "\e91a";
}
.pocketin-icon-Wind:before {
    content: "\e91b";
}
.pocketin-icon-Power:before {
    content: "\e91c";
}
.pocketin-icon-Drops:before {
    content: "\e91d";
}
.pocketin-icon-Key:before {
    content: "\e91e";
}
.pocketin-icon-Gift-wrap:before {
    content: "\e91f";
}
.pocketin-icon-Box-1:before {
    content: "\e920";
}
.pocketin-icon-Box-2:before {
    content: "\e921";
}
.pocketin-icon-Cart-2:before {
    content: "\e922";
}
.pocketin-icon-Cart-1:before {
    content: "\e923";
}
.pocketin-icon-Map:before {
    content: "\e924";
}
.pocketin-icon-Map-marker:before {
    content: "\e925";
}
.pocketin-icon-Mail-2:before {
    content: "\e926";
}
.pocketin-icon-trash-4:before {
    content: "\e88c";
}
.pocketin-icon-clock:before {
    content: "\e014";
}
.pocketin-icon-heart2:before {
    content: "\e024";
}
.pocketin-icon-Search:before {
    content: "\e036";
}
.pocketin-icon-Zoom-in-2:before {
    content: "\e037";
}
.pocketin-icon-Zoom-out-2:before {
    content: "\e038";
}
.pocketin-icon-circle-plus:before {
    content: "\e040";
}
.pocketin-icon-circle-minus:before {
    content: "\e041";
}
.pocketin-icon-circle-check:before {
    content: "\e042";
}
.pocketin-icon-circle-cross:before {
    content: "\e043";
}
.pocketin-icon-square-plus:before {
    content: "\e044";
}
.pocketin-icon-square-minus:before {
    content: "\e045";
}
.pocketin-icon-square-check:before {
    content: "\e046";
}
.pocketin-icon-square-cross:before {
    content: "\e047";
}
.pocketin-icon-map:before {
    content: "\e072";
}
.pocketin-icon-bag:before {
    content: "\e106";
}
.pocketin-icon-flag:before {
    content: "\e108";
}
.pocketin-icon-trash:before {
    content: "\e109";
}
.pocketin-icon-expand:before {
    content: "\e110";
}
.pocketin-icon-contract:before {
    content: "\e111";
}
.pocketin-icon-maximize:before {
    content: "\e112";
}
.pocketin-icon-minimize:before {
    content: "\e113";
}
.pocketin-icon-plus:before {
    content: "\e114";
}
.pocketin-icon-minus:before {
    content: "\e115";
}
.pocketin-icon-help:before {
    content: "\e127";
}
.pocketin-icon-cart:before {
    content: "\e936";
}
.pocketin-icon-eye:before {
    content: "\e937";
}
.pocketin-icon-film:before {
    content: "\e938";
}
.pocketin-icon-home:before {
    content: "\e939";
}