<style>
.refunderline:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: -10px;
    left: 25%;
    border-bottom: 1px solid darkorange;
}
</style>
<div class="hor-gird text-center">
	<div class="row">
		<div class="sub-header col-xs-12">
			<div class="subtitle fancy">
				<span>
					<h4 class="refunderline">{{title}}</h4>
				</span>
			</div>
		</div>
		<div class="row relative">
			<!--ul class="grid-control">
				<li class="control-left">
					<a href="" ng-click="ctrl.getPrevSetQuality()">
						<span class="icon pocketin-icon-circle-left"></span>
					</a>
				</li>
				<li class="control-right">
					<a href="" ng-click="ctrl.getNextSetQuality()">
						<span class="icon pocketin-icon-circle-right"></span>
					</a>
				</li>
			</ul-->

			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-15 item-col" ng-repeat="item in items">
				<div class="item-col-wrap">
            		<div class="label stock-availability catview-available" ng-show="item.isfactory == 1 && item.issold != 1">Unused & New</div>
					<!--button class="btn btn-md btn-add-to-wishlist" ng-class="item.inwishlist == 1 ? 'active block' : ''" data-toggle="tooltip" data-placement="top" data-original-title="{{item.inwishlist == 0 ? 'Add to Wishlist': 'Remove from Wishlist'}}" type="button" ng-click="item.inwishlist=item.inwishlist==1?0:1; ctrl.addtowishlist(item, item.inwishlist);">
				                			<span class="icon pocketin-icon-heart"></span>
				                		</button-->
					<a ng-href="product/{{title|toproducturl}}/{{item.productitem_id}}/{{item.product_title|toproducturl}}">
						<div class="poduct-grid-thumb">
							<img ng-src="assets/images/products/normal/{{item.image_full}}" alt="{{item.product_title}}" width="360" height="466">
						</div>
						<div class="poduct-grid-detail text-left">
							<div class="col-sm-12">
								<div class="item-text-info">
									<h1 class="product-name">
										{{item.product_title}}
										<span class="product-description">{{item.product_description}}</span>
									</h1>
								</div>

								<div class="row">
									<div class="col-xs-6 inline">
									<span style="text-decoration: line-through; color: grey; font-size: 12px; opacity: .5; padding-bottom: 5px;">₹ {{item.saleprice * 1.1 | number:0}}</span>
										<div class="product-price">
											₹ {{item.saleprice | number:0}}
											<span class="prodoffer inline text-right">({{(item.saleprice/item.mrp)*100 | number:0}}% off)</span>
										</div>
									</div>
									<div class="col-xs-6 inline text-right">
										<div class="quality-index" ng-class="item.qualityindex >= 4 ? 'green-dark' : (item.qualityindex >=3 ? 'green-bright' : (item.qualityindex >=2 ? 'yellow' : (item.qualityindex< 2 ? 'red' : 'grey')))">
											<span class="icon pocketin-icon-star-empty"></span>
											{{item.qualityindex| number:1}}
										</div>
									</div>
								</div>
								<div class="market-price">
										₹ {{item.mrp | number:0}}
										<small>Market Price</small>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
