@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

.zestMoney_option{
  cursor: pointer;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color:#1CA433;
  font-weight: 600;
}
.zestMoney_option:hover{
  text-decoration: underline;
}

.zest-left-panel{
  display: inline-block;
  vertical-align: top;
}

.zest-right-panel{
  display: inline-block;
  vertical-align: top;
  padding: 10px 16px;
  margin-left: -4px;
}

/* product link widget */
.zest-only-mobile{
  display: none;
}

.zest-only-desktop{
  display: block;
}

.zest-bold{
  font-weight: 700;
}

/* The Modal (background) */
.zest-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* The Close Button */
.zest-close {
    position: absolute;
    right: 14px;
    top: 8px;
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1;
    color: #adadad;
    -webkit-transform: scaleX(1.35);
       -moz-transform: scaleX(1.35);
        -ms-transform: scaleX(1.35);
         -o-transform: scaleX(1.35);
            transform: scaleX(1.35);
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.zest-close:hover,
.zest-close:focus {
    color: #979797;
    text-decoration: none;
    cursor: pointer;
}
/* Modal Header */
.zest-modal-header {
  text-align: center;
}

.zest-merchant-logos {
  margin-top: 30px;
}
.zest-merchant-logos .zest-logo,
.zest-merchant-logos .zest-merchant-logo{
  height: 30px;
  vertical-align: middle;
}

.zest-merchant-logos .zest-with{
  color: #7F7F7F;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  vertical-align: middle;
}

.zest-modal-header .zest-modal-title{
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  color:#212121;
  font-weight: 700;
  text-align: center;
  margin: 28px auto 20px;
}

/* Modal Body */
.zest-modal-body {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: #414141;
}

.zest-modal-body .zest-select{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color:#212121;
  font-weight: 400;
  text-align: center;
  margin: 28px auto 6px;
}

/* Modal Content */
.zest-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 40px auto;
    padding: 0;
    border: 1px solid #888;
    border-radius:5px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* EMI Table */
.zest-emi-table .zest-emi{
  border: 1px dashed #979797;
  background: #FAFAFA;
  border-radius: 4px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.zest-emi tr th{
  border-right: 1px dashed #979797;
  border-bottom: 1px dashed #979797;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  color:#414141;
  font-weight: 600;
  padding: 14px 5px;
}

.zest-emi tr td{
  border-right: 1px dashed #979797;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  color:#1CA433;
  font-weight: 600;
}

.zest-emi .zest-cell-1{
  border-right: none;
  border-bottom: none;
  max-width: 40px;
}

.zest-emi .zest-cell-2{
  border-bottom: none;
}

.zest-features-table{
  width: 400px;
  margin: 0 auto;
}

.zest-features-table table tr{
  margin: 30px 0;
  display: block;
}

.zest-features-table table tr td{
  font-size: 12px;
  color: #414141;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  width: 50%;
  padding-left: 80px;
  height: 49px;
}

.zest-features-table table .zest-feature-1{
  background: url('../images/like-icon.png') no-repeat 18px 0 / 50px 50px;
}

.zest-features-table table .zest-feature-2{
  background: url('../images/credit-card-icon.png') no-repeat 18px 0 / 50px 50px;
}

.zest-features-table table .zest-feature-3{
  background: url('../images/arrow-icon.png') no-repeat 18px 0 / 50px 50px;
}

.zest-features-table table .zest-feature-4{
  background: url('../images/coins-icon.png') no-repeat 18px 0 / 50px 50px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@media screen and (min-width: 768px){
  .zest-modal-content{
      width: 460px;
  }
  .zest-left-panel{
      width: 258px;
      height: 500px;
  }
  img.zest-showcase{
    height: 502px;
  }
  .zest-right-panel{
      width: 436px;
  }
}

@media screen and (min-width : 425px) and (max-width : 767px){
  .zest-modal-content{
    margin: 20px auto;
    width: 90%;
  }
  .zest-modal-header{
    padding-top: 30px;
  }
  .zest-left-panel,
  img.zest-showcase{
     display: none;
  }
  .zest-right-panel{
    display: block;
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width : 424px){
  .zest-left-panel,
  img.zest-showcase{
     display: none;
  }
  .zest-modal-content{
    margin: 0px auto;
    width: 100%;
  }
  .zest-modal-header{
    border-radius:0;
  }
  .zest-emi-table .zest-emi{
    width: 100%;
  }
  .zest-features-table{
    width: 100%;
  }
  .zest-modal-body .zest-select{
    margin: 28px auto 0;
  }
  .zest-features-table table tr td{
    font-size: 11px;
    padding-left: 54px;
    height: 39px;
  }
  .zest-features-table table .zest-feature-1{
    background: url('../images/like-icon.png') no-repeat 5px 0 / 40px 40px;
  }

  .zest-features-table table .zest-feature-2{
    background: url('../images/credit-card-icon.png') no-repeat 5px 0 / 40px 40px;
  }

  .zest-features-table table .zest-feature-3{
    background: url('../images/arrow-icon.png') no-repeat 5px 0 / 40px 40px;
  }

  .zest-features-table table .zest-feature-4{
    background: url('../images/coins-icon.png') no-repeat 5px 0 / 40px 40px;
  }
}