@font-face {
  font-family: 'RefabdIcons';
  src:  url('fonts/RefabdIcons.eot?pe0uav');
  src:  url('fonts/RefabdIcons.eot?pe0uav#iefix') format('embedded-opentype'),
    url('fonts/RefabdIcons.ttf?pe0uav') format('truetype'),
    url('fonts/RefabdIcons.woff?pe0uav') format('woff'),
    url('fonts/RefabdIcons.svg?pe0uav#RefabdIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'RefabdIcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Empty-Cart:before {
  content: "\e99b";
}
.icon-Shopping-Cart .path1:before {
  content: "\e99c";
  color: rgb(33, 33, 33);
}
.icon-Shopping-Cart .path2:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(33, 33, 33);
}
.icon-Shopping-Cart .path3:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(33, 33, 33);
}
.icon-Shopping-Cart .path4:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(33, 33, 33);
}
.icon-Shopping-Cart .path5:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(33, 33, 33);
}
.icon-Shopping-Cart .path6:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(240, 242, 239);
}
.icon-Shopping-Cart .path7:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(33, 33, 33);
}
.icon-Deals:before {
  content: "\e9a4";
}
.icon-Checklist:before {
  content: "\e9a5";
}
.icon-Shopping-Cart-II:before {
  content: "\e9a6";
}
.icon-Online-Deals:before {
  content: "\e9a7";
}
.icon-del1:before {
  content: "\e90e";
}
.icon-hand1:before {
  content: "\e910";
}
.icon-bag2:before {
  content: "\e912";
}
.icon-war2:before {
  content: "\e913";
}
.icon-thums2:before {
  content: "\e914";
}
.icon-01:before {
  content: "\e900";
}
.icon-02:before {
  content: "\e915";
}
.icon-03:before {
  content: "\e916";
}
.icon-04:before {
  content: "\e917";
}
.icon-05:before {
  content: "\e918";
}
.icon-06:before {
  content: "\e919";
}
.icon-07:before {
  content: "\e91b";
}
.icon-08:before {
  content: "\e91c";
}
.icon-09:before {
  content: "\e91d";
}
.icon-10:before {
  content: "\e91e";
}
.icon-100:before {
  content: "\e91f";
}
.icon-11:before {
  content: "\e920";
}
.icon-12:before {
  content: "\e921";
}
.icon-13:before {
  content: "\e922";
}
.icon-14:before {
  content: "\e923";
}
.icon-15:before {
  content: "\e924";
}
.icon-16:before {
  content: "\e925";
}
.icon-17:before {
  content: "\e926";
}
.icon-18:before {
  content: "\e927";
}
.icon-19:before {
  content: "\e928";
}
.icon-20:before {
  content: "\e929";
}
.icon-21:before {
  content: "\e92a";
}
.icon-22:before {
  content: "\e92b";
}
.icon-23:before {
  content: "\e92c";
}
.icon-24:before {
  content: "\e92d";
}
.icon-25:before {
  content: "\e92e";
}
.icon-26:before {
  content: "\e92f";
}
.icon-27:before {
  content: "\e930";
}
.icon-28:before {
  content: "\e931";
}
.icon-29:before {
  content: "\e932";
}
.icon-30:before {
  content: "\e933";
}
.icon-31:before {
  content: "\e934";
}
.icon-32:before {
  content: "\e935";
}
.icon-33:before {
  content: "\e936";
}
.icon-34:before {
  content: "\e937";
}
.icon-35 .path1:before {
  content: "\e938";
  color: rgb(2, 2, 2);
}
.icon-35 .path2:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icon-35 .path3:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-35 .path4:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icon-35 .path5:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icon-35 .path6:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icon-35 .path7:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(2, 2, 2);
}
.icon-36:before {
  content: "\e93f";
}
.icon-37:before {
  content: "\e940";
}
.icon-38:before {
  content: "\e946";
}
.icon-39:before {
  content: "\e94a";
}
.icon-40:before {
  content: "\e94b";
}
.icon-41:before {
  content: "\e94c";
}
.icon-42:before {
  content: "\e94f";
}
.icon-43:before {
  content: "\e953";
}
.icon-44:before {
  content: "\e954";
}
.icon-45:before {
  content: "\e955";
}
.icon-46:before {
  content: "\e95c";
}
.icon-47:before {
  content: "\e95d";
}
.icon-48:before {
  content: "\e95e";
}
.icon-49:before {
  content: "\e95f";
}
.icon-50:before {
  content: "\e960";
}
.icon-51:before {
  content: "\e961";
}
.icon-52:before {
  content: "\e962";
}
.icon-53:before {
  content: "\e963";
}
.icon-54:before {
  content: "\e964";
}
.icon-55:before {
  content: "\e965";
}
.icon-56:before {
  content: "\e966";
}
.icon-57:before {
  content: "\e967";
}
.icon-58:before {
  content: "\e968";
}
.icon-59:before {
  content: "\e969";
}
.icon-60:before {
  content: "\e96a";
}
.icon-61:before {
  content: "\e96b";
}
.icon-62:before {
  content: "\e96c";
}
.icon-63:before {
  content: "\e96d";
}
.icon-64:before {
  content: "\e96e";
}
.icon-65:before {
  content: "\e96f";
}
.icon-66:before {
  content: "\e970";
}
.icon-67:before {
  content: "\e972";
}
.icon-68:before {
  content: "\e973";
}
.icon-69:before {
  content: "\e974";
}
.icon-70:before {
  content: "\e975";
}
.icon-71:before {
  content: "\e976";
}
.icon-72:before {
  content: "\e977";
}
.icon-73:before {
  content: "\e978";
}
.icon-74:before {
  content: "\e979";
}
.icon-75:before {
  content: "\e97a";
}
.icon-76:before {
  content: "\e97b";
}
.icon-77:before {
  content: "\e97c";
}
.icon-78:before {
  content: "\e97e";
}
.icon-79:before {
  content: "\e981";
}
.icon-80:before {
  content: "\e984";
}
.icon-81:before {
  content: "\e985";
}
.icon-82:before {
  content: "\e986";
}
.icon-83:before {
  content: "\e987";
}
.icon-84:before {
  content: "\e988";
}
.icon-85:before {
  content: "\e989";
}
.icon-86:before {
  content: "\e98a";
}
.icon-87:before {
  content: "\e98b";
}
.icon-88:before {
  content: "\e98c";
}
.icon-89:before {
  content: "\e98d";
}
.icon-90:before {
  content: "\e98e";
}
.icon-91:before {
  content: "\e98f";
}
.icon-92:before {
  content: "\e990";
}
.icon-93:before {
  content: "\e992";
}
.icon-94:before {
  content: "\e993";
}
.icon-95:before {
  content: "\e996";
}
.icon-96:before {
  content: "\e997";
}
.icon-97:before {
  content: "\e998";
}
.icon-98:before {
  content: "\e999";
}
.icon-99:before {
  content: "\e99a";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-addressbook:before {
  content: "\e902";
}
.icon-camera:before {
  content: "\e90f";
}
.icon-music:before {
  content: "\e911";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-phone:before {
  content: "\e942";
}
.icon-phone-hang-up:before {
  content: "\e943";
}
.icon-address-book:before {
  content: "\e944";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-compass:before {
  content: "\e949";
}
.icon-history:before {
  content: "\e94d";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-bell:before {
  content: "\e951";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-display:before {
  content: "\e956";
}
.icon-laptop:before {
  content: "\e957";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-tablet:before {
  content: "\e95a";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-user:before {
  content: "\e971";
}
.icon-spinner4:before {
  content: "\e97d";
}
.icon-spinner6:before {
  content: "\e97f";
}
.icon-spinner7:before {
  content: "\e980";
}
.icon-spinner9:before {
  content: "\e982";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-cog:before {
  content: "\e994";
}
.icon-cogs:before {
  content: "\e995";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-target:before {
  content: "\e9b3";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-list-numbered:before {
  content: "\e9b9";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-cloud-check:before {
  content: "\e9c4";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-sun:before {
  content: "\e9d4";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-infinite:before {
  content: "\ea2f";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-make-group:before {
  content: "\ea58";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail2:before {
  content: "\ea84";
}
.icon-mail3:before {
  content: "\ea85";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook3:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter2:before {
  content: "\ea96";
}
.icon-vine:before {
  content: "\ea97";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-facebook2:before {
  content: "\e903";
}
.icon-brand3:before {
  content: "\e903";
}
.icon-social3:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-brand:before {
  content: "\e904";
}
.icon-tweet:before {
  content: "\e904";
}
.icon-social:before {
  content: "\e904";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-brand2:before {
  content: "\e905";
}
.icon-social2:before {
  content: "\e905";
}
.icon-mail5:before {
  content: "\e906";
}
.icon-laptop2:before {
  content: "\e907";
}
.icon-contacts:before {
  content: "\e908";
}
.icon-laptop_windows:before {
  content: "\e909";
}
.icon-laptop_mac:before {
  content: "\e90a";
}
.icon-laptop_chromebook:before {
  content: "\e90b";
}
.icon-laptop3:before {
  content: "\e90c";
}
.icon-laptop4:before {
  content: "\e90d";
}

