ul.nav.nav-tabs > li > a {
    color: #47C9AF;
}
ul.nav.nav-tabs > li.active > a {
    color: black;
}

.features {
    float: right;
    width: 300px;
    padding-left: 20px;
}

.features .heading {
    font-size: 14px;
    font-weight: bold;
}

.drop {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}

.drop.drag-over {
    background: #5CB85C;
    color: #fff
}

.transfer-box {
    margin-bottom: 5px;
}

.transfer-box .progress {
    margin-bottom: 0;
}

.thumbnail {
    line-height: 20px;
    margin-bottom: 5px;
    overflow: hidden;
    word-break: normal;
}

.thumbnail img {
    max-width: 200px;
    max-height: 150px;
}

.gallery-box {
    width: 200px;
    padding: 5px;
    margin: 7px;
    float: left;
    min-height: 200px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.gallery-box .progress {
    margin-bottom: 0;
}

.gallery-box .thumbnail {
    height: 188px;
    width: 188px;
}

.gallery-box .title {
    height: 22px;
    overflow: hidden;
    display: block;
}

body {
    background: #F9F9F9 !important;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.imagediv {
    height: auto;
}

.addform {
    border: 1px solid lightgrey;
    padding: 15px;
}

.navbar-brand {
    color: #000;
}

.title,
.status,
.action {
    padding-top: 40px;
}

a,
a:visited {
    color: #1a1a1a;
}

a:hover,
a:active,
a:focus {
    color: #47C9AF;
}

header {
    background: #F7F7F7;
    border-bottom: 1px solid #DEDEDE;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.main-container {
    margin-top: 90px;
}

.dealername {
    color: orange;
    float: right;
}

.dealername .dropdown > a {
    padding: 15px;
    display: block;
}

.dealername .dropdown {
    position: relative;
}

.dealername .dropdown-menu {
    position: absolute;
    right: 0;
    width: 140px;
    padding: 15px;
    left: inherit;
}

.clear {
    clear: both;
}

.item {
    padding-top: 5px;
    padding-bottom: 5px;
    background: white;
    border: 1px solid lightgrey;
    margin-bottom: 5px;
}

.quality {
    padding-bottom: 20px;
}

form.ng-submitted .ng-invalid {
    border-color: #FA787E;
}

.successbox {
    border: 1px solid lightgrey;
    background-color: lightyellow;
    text-align: center;
}

.error {
    border: 1px solid red;
}

.progresserror {
    background-color: darkorange;
}

.loader {
    background: #fff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
}

.loader img {
    max-width: 60px;
    vertical-align: middle;
    display: block;
    margin: 28% auto;
}