@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

.zest-payment-widget{
  font-family: 'Open Sans', sans-serif;
}

.zest-bold{
  font-weight: 700;
}
img.title_img {
    float: left;
    padding-right: 5px;
}
.zest-p{
  font-size: 16px;
  color: #000;  
  display: inline;
}

.zest-list-title{
  font-weight: 600;
  font-size: 16px;
  color: #000;
  display: block;
  cursor: pointer;
}

.zest-list-title.no-pointer{
  cursor: default;
}

.zest-list-title.half-line {
  position: relative;
  z-index: 1;
}

.zest-list-title.half-line:before {
  border-top: 1px solid #CACACA;
  content:"";
  margin: 0 auto; 
  position: absolute;
  top: 50%; left: 0; right: 0; bottom: 0;
  width: 80%;
  margin-right: 36px;
  z-index: -1;
}

.zest-list-title span.p-title { 
  background: #fff; 
  padding: 0 15px 0 0; 
}

.zest-list-item{
  margin-top: 36px;
}

.zest-list-item ol,
.zest-list-item ul{
  padding: 0 0px;
  list-style: none;
}

.zest-list-item ol li,
.zest-list-item ul li{
  font-size: 14px;
  color: #414141;  
  margin: 10px 0;
  line-height: 25px;

}

.zest-list-content{
  display: none;
}

.zest-list-item .zest-toggle-btn:after{
  content: '+';
  font-size: 18px;
  font-weight: 300;
  color: #525252;
  line-height: 1;
  padding: 0 4px;
  border: 1px solid #525252;
  border-radius: 19px;
  float: right;
  margin-left: 5px;
}
.zest-list-item.active .zest-list-content{
  display: block;
}

.zest-list-item.active .zest-toggle-btn:after{
  content: '-';
  font-size: 20px;
  line-height: 0.75;
  padding: 0 6px 3px;
}
.zest-list-item.active {
  
}

.zest-note{
  color: #676767;
  font-size: 12px;
  margin: 0 auto 0 4px;
  line-height: 2;
}

.zest-link{
  font-size: 12px;
  color: #1B9EF9;
  text-decoration: none;
}

.zest-emi-link{
  display: inline;
  font-size: 12px;
  color: #1B9EF9;
  text-decoration: underline;
  position: relative;
  cursor: pointer;
}
.popover{
  background: white;
  border-radius: 6px;
  cursor: default;
  bottom: 30px;
  box-shadow: 0 0 7px rgba(0,0,0,0.2);
  display: none;
  padding: 10px 12px;
  position: absolute;
  width: 400px;
  z-index: 4;
  left: 50%;
  -webkit-transform: translateX(-50%); 
  -moz-transform: translateX(-50%); 
  -ms-transform: translateX(-50%); 
  -o-transform: translateX(-50%); 
  transform: translateX(-50%);
}
.popover:before {
  content: '\25BC';
  -webkit-transform: scaleX(1.7); 
  -moz-transform: scaleX(1.7); 
  -ms-transform: scaleX(1.7); 
  -o-transform: scaleX(1.7); 
  transform: scaleX(1.7); 
  color: white;
  font-size: 1rem; 
  bottom: -16px;
  display: block;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  text-shadow: 0 2px 1px rgba(0,0,0,0.15); 
}

.zest-emi-link:hover .popover {
  display: block;
  -webkit-animation: fade-in .3s linear 1, move-down .3s linear 1;
  -moz-animation: fade-in .3s linear 1, move-down .3s linear 1;
  -ms-animation: fade-in .3s linear 1, move-down .3s linear 1;
}   

/* EMI Table */
.zest-emi-table h3{
  text-align: center;
  font-size: 14px;
  color: #414141;
  font-family: 'Open Sans', sans-serif;
  margin-top: 5px;
  font-weight: 400;
}
.zest-emi-table .zest-emi{
  border: 1px dashed #979797;
  background: #FAFAFA;
  border-radius: 4px;
  width: 380px;
  margin: 10px 0px;
  text-align: center;
}

.zest-emi tr th{
  border-right: 1px dashed #979797;
  border-bottom: 1px dashed #979797;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  color:#414141;
  font-weight: 600;
  padding: 14px 5px;
}

.zest-emi tr td{
  border-right: 1px dashed #979797;
  font-size: 11px;
  font-family: 'Open Sans', sans-serif;
  color:#1CA433;
  font-weight: 600;
}

.zest-emi .zest-cell-1{
  border-right: none;
  border-bottom: none;
  max-width: 40px;
}

.zest-emi .zest-cell-2{
  border-bottom: none;
}


@-webkit-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-ms-keyframes fade-in {
    from   { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes move-down {
    from   { bottom: 20px; }
    to { bottom: 30px; }
}
@-moz-keyframes move-down {
    from   { bottom: 20px; }
    to { bottom: 30px; }
}
@-ms-keyframes move-down {
    from   { bottom: 20px; }
    to { bottom: 30px; }
}

@media screen and (max-width : 767px){
  .zest-emi-link{
    display: block;
    margin-top:16px;
  }
  .zest-emi-table .zest-emi{
    width: 300px;
  }
  .popover{
    width: 320px;
    left: 0;
    -webkit-transform: translateX(0%); 
    -moz-transform: translateX(0%); 
    -ms-transform: translateX(0%); 
    -o-transform: translateX(0%); 
    transform: translateX(0%);
  }
  .popover:before {
    left: 11%;
  }
  .zest-list-title.half-line:before {
    border-top: none;
  }
  .zest-list-title span.p-title{
    padding: 0 30px 0 0 ;
  }

}