
.emi-cnt {
  background-color: #e4f3e5;
  margin: 15px auto;
  /*max-width: 360px;*/
  padding: 10px;
  clear: both;
}

.emi-cnt h5,
.emi-cnt h6 {
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    text-rendering: optimizelegibility;
}

.emi-cnt h5 {
    /*font-size: 1.125rem;*/
    color: #222222;
    margin: 0;
}

.emi-cnt h6 {
  font-size: 1rem;
  margin: 0;
}

.emi-cnt img {
  margin-right: 5px;
}

.emi-cnt a {
  background: url("../images/arrow.png") no-repeat 100% 6px;
  color: #222;
  display: block;
  text-decoration: none;
}

.emi-cnt a span {
  display: inline-block;
  vertical-align: top;
  width: 86%;
}

.emi-cnt .active {
  background-position: 100% -33px;
}

.emi-cnt ul {
  list-style: none;
  margin-bottom: 0;
  margin-top: 5px;
  margin-left: 20px;
  padding: 0;
}

.emi-cnt ul li {
  position: relative;
  list-style: none;
}

.emi-cnt ul li span {
  display: inline-block;
  width: 115px;
  padding-left: 30px;
}

.emi-cnt ul li span:before {
  background: #62b865;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 15px;
  position: absolute;
  top: 10px;
  width: 6px;
}

.emi-cnt .widgetHeader img{
  display: inline-block;
}

.emi-cnt .widgetHeader a{
  color:inherit;
  text-decoration: none;
}
.emi-cnt ul li.stext{
  display: inline-block;
  padding-left: 30px;
}

.emi-cnt ul li.stext:before{
  background: #62b865;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: 15px;
  position: absolute;
  top: 10px;
  width: 6px;
}

.emi-cnt .bottomtext{
  margin: 5px;
  display: inline-block;
  padding-left: 30px;
}
.emi-cnt h5 span{text-transform: none;}


/* congratss screen */
.zest-thankyou{
    background: #fff;
    color: #636363;
    cursor: auto;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

/* .zest-thankyou div{
   margin: 0;
    padding: 0;
} */

.zest-thankyou .zest-column, .zest-thankyou .zest-columns {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    /*width: 100%;*/
    float: left;
}
.zest-thankyou .zest-row.zest-collapse>.zest-column, 
.zest-thankyou .zest-row.zest-collapse>.zest-columns {
    padding-left: 0;
    padding-right: 0;
}
/*My Stuff*/
.zest-thankyou {
    color: #636363;
    font-family: "Roboto";
}
.zest-thankyou:focus {
    outline: none;
}
.zest-thankyou a {
    outline: 0;
}
.zest-thankyou a img{
  display: inline-block;
}
.zest-thankyou .zest-row {
    max-width: 48.75rem;
}
.zest-thankyou .zest-header {
    padding: 20px 0 30px;
}
.zest-thankyou .zest-header .zest-logo {
    text-align: center;
    width: 100%;
}
.zest-thankyou .zest-header .zest-logo img {
    width: 60px;
}
.zest-thankyou .zest-purple {
    color: #603593 
}
.zest-thankyou .zest-yello {
    background: #FF8D00;
    color: #ffffff;
}
.zest-thankyou .zest-congrats-user h1 {
    color: #4f4f4f;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0 0 1rem;
    font-family: "Roboto";
    text-transform: none;
}
.zest-thankyou .zest-congrats-user h1, 
.zest-thankyou .zest-congrats-user p {
    text-align: center;
}
.zest-thankyou .zest-btn.zest-complete-purchase {
    background: #FF8D00;
    border: 0;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    font-family: "Roboto";
    font-size: 1.25rem;
    height: 3.5rem;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}
.zest-thankyou .zest-btn.zest-complete-purchase a{
  color: #ffffff;
}
.zest-thankyou .zest-steps-set {
    background: url(../images/bg.jpg) repeat-y scroll -58px 0;
    list-style: none;
}
.zest-thankyou .zest-steps-set li {
    background: #fff;
    margin-bottom: 40px;
}
.zest-thankyou .zest-steps-set li:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.zest-thankyou .zest-steps-set li img {
    float: left;
    width: 50px;
}
.zest-thankyou .zest-steps-set li span {
    display: inline-block;
    float: left;
    font-size: 1.15rem;
    line-height: 1.5;
    margin-left: 13px;
}
.zest-thankyou .zest-steps-set li.zest-set-1 {
    margin-top: 10px;
}
.zest-thankyou .zest-steps-set li.zest-set-1 img {
    margin-top: -5px;
}
.zest-thankyou .zest-steps-set li.zest-set-2 {
    margin-bottom: 40px;
}
.zest-thankyou .zest-steps-set li.zest-set-2 img {
    margin-top: -5px;
}
.zest-thankyou .zest-steps-set li.zest-set-3 {
    margin-bottom: 0;
}
.zest-thankyou .zest-steps-set li.zest-set-3 img {
    margin-left: -10px;
    margin-right: 10px;
    margin-top: -3px;
}
.zest-thankyou .zest-steps-set li.zest-set-3 span {
    padding-top: 5px;
}



.zest-thankyou .zest-row::after {
    clear: both;
}
.zest-thankyou .zest-row::before, 
.zest-thankyou .zest-row::after {
    content: " ";
    display: table;
}
.zest-thankyou .zest-row .zest-row.zest-collapse::before, 
.zest-thankyou .zest-row .zest-row.zest-collapse::after {
    content: " ";
    display: table;
}
.zest-thankyou .zest-row {
    margin: 0 auto;
    max-width: 48.75rem;
    width: 100%;
}
.zest-thankyou .zest-row .zest-row {
    margin: 0 -0.625rem;
    max-width: none;
    width: auto;
}
.zest-thankyou .zest-row .zest-row.zest-collapse {
    margin: 0;
    max-width: none;
    width: auto;
}
.zest-thankyou ul.zest-steps-set {
    font-size: 1rem;
    line-height: 1.6;
    padding: 0;
    margin-bottom: 1.25rem;
    margin-left: 1.1rem;
}



@media only screen and (min-width: 40.0625em) {  
  .zest-thankyou .zest-column, .zest-thankyou .zest-columns {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left;
  }
}

@media only screen and (min-width: 64.0625em) {
  .zest-thankyou .zest-large-push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  .zest-thankyou .zest-large-push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  .zest-thankyou .zest-column, .zest-thankyou .zest-columns {
    position: relative;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    float: left;
  }
  .zest-thankyou .zest-large-6 {
    width: 50%;
  }

  .zest-thankyou .zest-large-10 {
    width: 83.33333%;
  }

  .zest-thankyou .zest-large-12 {
    width: 100%;
  }
}


@media screen and (max-width: 64em) { 
    .zest-thankyou .zest-row {
        max-width: 22.5rem;
    }
    .zest-thankyou .zest-congrats-user h1 {
        font-size: 1.2rem;
    }
    .zest-thankyou .zest-column, .zest-thankyou .zest-columns {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}
@media (max-width: 320px) {
    .zest-thankyou .zest-congrats-user h1 {
        font-size: 1.05rem;
    }
    .zest-thankyou .zest-steps-set li span {
        font-size: 1rem;
    }
    
}

/* order review section */
.zest-ov-main .zest-column, .zest-ov-main .zest-columns {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}
.zest-ov-main .zest-row.zest-collapse>.zest-column, 
.zest-ov-main .zest-row.zest-collapse>.zest-columns {
    padding-left: 0;
    padding-right: 0;
}
/*My Stuff*/
.zest-ov-main .zest-steps-img img.zest-desktop-view,
.zest-ov-main .zest-steps-img img.zest-mobile-view {
  width: 100%;
}
.zest-ov-main .zest-mobile-view {
  display: none;
}
.zest-ov-main {
    color: #636363;
    font-family: "Roboto";
    margin: 1rem 0;
}
.zest-ov-main .zest-pull-right {
    color: #2aa5ea;
    float: right;
    font-family: "Roboto";
    font-size: 1rem;
    text-decoration: none;

}
.zest-ov-main:focus {
    outline: none;
}
.zest-ov-main a {
    outline: 0;
}
.zest-ov-main .zest-row {
    max-width: 48.75rem;
}
.zest-ov-main .zest-purple {
    color: #603593 
}
.zest-ov-main .zest-congrats-user h1 {
    color: #4f4f4f;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0 0 1rem;
    font-family: "Roboto";
    text-transform: none;
}
.zest-ov-main .zest-congrats-user h1, 
.zest-ov-main .zest-congrats-user p {
    text-align: center;
}

.zest-ov-main .zest-row::after {
    clear: both;
}
.zest-ov-main .zest-row::before, 
.zest-ov-main .zest-row::after {
    content: " ";
    display: table;
}
.zest-ov-main .zest-row .zest-row.zest-collapse::before, 
.zest-ov-main .zest-row .zest-row.zest-collapse::after {
    content: " ";
    display: table;
}
.zest-ov-main .zest-row {
    margin: 0 auto;
    max-width: 48.75rem;
    width: 100%;
}
.zest-ov-main .zest-row .zest-row {
    margin: 0 -0.625rem;
    max-width: none;
    width: auto;
}
.zest-ov-main .zest-row .zest-row.zest-collapse {
    margin: 0;
    max-width: none;
    width: auto;
}
@media only screen and (min-width: 64.0625em) {
  .zest-ov-main .zest-large-12 {
    width: 100%;
  }
}


@media screen and (max-width: 64em) { 
    .zest-ov-main .zest-row {
        max-width: 48.75rem;
    }
    .zest-ov-main .zest-congrats-user h1 {
        font-size: 1.2rem;
    }
    .zest-ov-main .zest-column, .zest-ov-main .zest-columns {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
}
@media screen and (max-width: 640px) {
  .zest-ov-main .zest-steps li.zest-column, 
  .zest-ov-main .zest-steps li.zest-columns {
      padding-left: 0.375em;
      padding-right: 0.375em;
  }
}
@media (max-width: 539px) {   

  .zest-ov-main .zest-desktop-view {
    display: none;
  }
  .zest-ov-main .zest-mobile-view {
    display: block;
  }
    
}